[2015-03-18 14:26] scottscreations opened #297 "Feature Request: Tabbed pages"
AdminLTE is completely awesome. I ditched this themeforest theme i bought in favor of this because of the licensing, bootstrap and the nice features. I appreciate all the hard work that's being put into it. I watch the activity on this and its amazing how fast responses are.

The idea is tabbed pages, i know we have the bootstrap tabs, but adding and removing them is something different.

I plan t

[2015-03-18 15:05] lenamtl commented on #296
Hi,

You can try to use this one from this Bootstrap template
http://www.bootstrapzero.com/bootstrap-template/facebook

[2015-03-18 18:35] almasaeed2010 commented on #296
Hello,

Do you mean you want a dropdown search menu in the navbar?

Thanks for the compliments! :+1:

[2015-03-18 18:45] almasaeed2010 commented on #297
Hi,

That's a cool idea! This raises the question of what effect will that give to the user experience when using it on mobile device? We will need a fallback for small screens to enhance the user experience because I think Bootstrap tabs are not very mobile friendly when you generate so many tabs. Any ideas as to how to approach this?

[2015-03-18 18:47] almasaeed2010 commented on #288
Fixed.

[2015-03-18 18:47] #288 closed

[2015-03-18 18:48] #283 closed

[2015-03-18 19:00] scottscreations commented on #297
Ok i thought about it a little. My system doesnt expect mobile usage, its geared for sys admins with 1920x monitors ;). I did try it on my note 3 phone and it worked fine but that's a note 3...

I wonder if we could make use of the bootstrap mobile classes and somehow turn the tabs into a bootstrap list for mobile users so like a sub nav list on the right side within the container.

[left nav] [co

[2015-03-18 19:04] scottscreations commented on #297
I tried this on my note 3 and it seemed to work, there would have to be a limit placed in using js or allow the dev to specify a limit. I mean too many tabs on anything can kill your system. I see sys admins that use chrome with like 20 tabs to 30 open and watch them navigate. Its like a kid on crack trying to find the right tab + its slow.

Maybe something like 5 tabs for mobile, 10-15 for big sc

[2015-03-18 19:08] almasaeed2010 commented on #297
That idea is fine but it will conflict with the "right sidebar" that will be available in v2.1.0. Limiting the tabs could also work but that will limit the user which isn't something a developer should do. The best we can do is to enhance the bootstrap tabs to be horizontally scrollable. This could fix the many tabs issue on all devices and won't force the user to a specific limit. I will look for

[2015-03-18 19:09] almasaeed2010 commented on #297
Of course, for the scope of this template, the functionality would be limited to adding and removing plugins while making them "pretty" and consistent with the design. This way they can be used for any purpose.

[2015-03-18 19:12] scottscreations commented on #297
Yeah i wrote the first one on the right thinking wait that has nothing to do with the tabs......long day.

I like the horizontal idea, that could work but might be hard to make it look good.

[2015-03-18 19:19] lenamtl commented on #297
There are some tab script that get transformed in accordion - toggle in small view.
This is the best way to my opinion to see tab info in small view.

This is one example
https://github.com/jellekralt/Responsive-Tabs

[2015-03-18 19:28] almasaeed2010 commented on #297
That's also an option. Imagine, though, you are creating a search page with tabs as @scottscreations suggested, I don't think it will be good looking. The tabs-to-accordion idea solves many issues such as a page with static content that contains tabs. A more specific example would be a travel agency website where the user gets to view the features of a hotel room and gets to navigate through the s

[2015-03-18 20:40] scottscreations commented on #297
@lenamtl that is cool to know i can do that kind of stuff.

I have another idea for this issue:

what if it went something like this, you have a small screen, fill it with tabs and when you run out of space you get a button with [ x ] being the number of tabs not in view. And maybe the X would have the 3 bar icon used for responsive layout menus, to indicate this is there because your screen is to

[2015-03-18 21:39] kressly commented on #296
@lenamtl  You deseve it. Thanks a lot
However how to add this to AdminLte
@almasaeed2010  You deserve it.

This is what i would like to add to Adminlte. Here is a screenshot of facebook on windows phone when i click the search button there is a dropdown menu that comes with the search field
![wp_ss_20150318_0001](https://cloud.githubusercontent.com/assets/925132/6720037/32c0d03a-cdb7-11e4-8fcb-d99

[2015-03-19 00:35] almasaeed2010 commented on #297
I like the idea of custom tabs so I am gonna add it to the todo list but I it may take some time before it is ready since I have a few things on the list that has a higher priority. Thanks!

[2015-03-19 01:10] almasaeed2010 commented on #296
@kressly this is somewhat difficult to create. I could suggest a few things to get you started but I don't think I can really create something like that in a short period of time.

Here is what I would do. I would add a search icon to the navbar and make it display a dropdown menu. Within the dropdown menu I'd add a search text box and let a div under it (in its own ```<li>```) that displays the r

[2015-03-19 04:16] NinjaLogs commented on #297
awesome can't wait! :), im currently migrating everything from 1.2 i think i was on to the latest...yay.

[2015-03-19 10:44] YasserHassan commented on #297
For this requirement, converting tabs to accordion on small screens is not a good idea because it would take a lot of scrolling to click-open the next tab because of the big content, unless the currently open tab can be collapsed by clicking it again. Not a good approach though. Accordions are more suitable for small content. For large content, you need an always visible navigation.

A better appr

[2015-03-19 12:40] lenamtl commented on #297
I like the tab drop idea, thanks for sharing this.

[2015-03-19 14:11] scottscreations commented on #297
Yes, this would be perfect way to handle the excess tabs.

[2015-03-19 16:14] gdespaux commented on #264
Just some info for anyone else that may encounter this:

We were using the previous version (v1) of AdminLTE, and the issue was resolved by using the Print CSS from v2 along with removing the div Wrapper class. Thank you almasaeed for the help!

[2015-03-21 16:20] easyest commented on #293
Source Sans Pro does support Cyrillic symbols. But not the one in google fonts. You can compile the font Yourself from source at https://github.com/adobe-fonts/source-sans-pro or google for already compiled version.

[2015-03-21 21:49] ivantcholakov commented on #293
https://github.com/adobe-fonts/source-sans-pro/releases/tag/2.010R-ro%2F1.065R-it
The release note claims that there is Cyrillic support, indeed.

[2015-03-21 21:49] #293 closed

[2015-03-23 06:49] ganthi commented on #251
In my design, id i open more tabs, it show next line.

![untitled1](https://cloud.githubusercontent.com/assets/8499105/6775402/bbe94a7a-d156-11e4-8192-02d873907275.png)

How can i show all the tabs in same line. Is it possible?

Thanks

[2015-03-23 08:53] kressly commented on #251
@ganthi Please open a new ticket for this. Thanks

[2015-03-23 09:01] ganthi opened #299 "How to restrict tab opens in second row, if more tab opens?"
I've include removable tab in bootstrap.

In my design, if i open more tabs, it show in the second line.

![untitled1](https://cloud.githubusercontent.com/assets/8499105/6776786/dbea2b7a-d168-11e4-8415-28e0d6dabaac.png)

How can i show all the tabs in same line and to set navigation. Is it possible?

Thanks

[2015-03-23 14:34] Adysone opened #300 ".nav-pills focus, background still blue"
Hello,

The v2 is very good, but (there is always a but) I found a graphic "bug" for nav-pills : after selecting a pill, it becomes blue. You have fixed this for hover, but not for the focus.

![image](https://cloud.githubusercontent.com/assets/6309463/6782036/f48d331c-d171-11e4-80c4-871d94af10e2.png)

I corrected that way:
I replaced
[code]
By

[code]

Thank you for your work!

[2015-03-23 14:38] almasaeed2010 commented on #300
Hello,

Thank you for reporting this! I will get to it as soon as possible. A fix will be provided in v2.1.0.

[2015-03-23 14:39] Adysone commented on #300
Hello, thank you for your reactivity :)

2015-03-23 15:38 GMT+01:00 Abdullah Almsaeed <notifications@github.com>:

--
Anthony D.

[2015-03-23 14:52] almasaeed2010 opened #301 "AdminLTE 2.1.0"
The progress in AdminLTE v2.1.0 has begun and I would appreciate your feedback along the way.
The first step was to create the sidebar mini which has been long awaited for.

![screen shot 2015-03-23 at 10 41 55 am](https://cloud.githubusercontent.com/assets/1512664/6782248/4cb4b480-d149-11e4-8766-2c1dc83c59b5.png)

Updates about the progress will be posted here until we are ready for alpha.
Here i

[2015-03-23 14:58] #294 closed

[2015-03-23 16:00] MarcosSedrez commented on #201
Try to force the async option (it works for me):

$.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
     options.async = true;
});

[2015-03-23 17:25] kressly commented on #296
Thanks @almasaeed2010
But it does the drop down However when i click in the input field again, it disappears.

[2015-03-23 17:37] YasserHassan commented on #301
Great progress, congratulations @almasaeed2010.

With the introduction of v2.1, I suggest moving the search form the top menu. The current location in the sidebar does not make it handy for use. If you are a user who prefers the hidden/mini sidebar and you need to search for something, you need to expand the sidebar, enter something and search, then collapse the sidebar again. This is three steps

[2015-03-23 17:46] adaniello commented on #301
@almasaeed2010 simply great!

+1 "search form the top menu"

i was thinking: why not add a media gallery/file explorer (starting by attachments blocks in mailbox ".mailbox-attachments")? or integrating a good plugin http://www.responsivefilemanager.com/

[2015-03-23 17:46] almasaeed2010 commented on #296
Hello @kressly
I mentioned that you will run into this issue in point 1. You will need to use JS to override Bootstrap's close on click feature for that specific menu. Perhaps this might help
http://stackoverflow.com/questions/11617048/stop-just-one-dropdown-toggle-from-closing-on-click

[2015-03-23 18:01] kressly commented on #301
@almasaeed2010 thanks for all the great work. However I would have suggested the side bar mini to be for a right side bar. In other word possibility to keep the formal side bar and have the right side bar minified. However since it is optional, glory be to God.
Now please I u can add a drop down search button somewhere at the top ..
To me the search field is one of the most important thing needed.

[2015-03-23 18:02] almasaeed2010 commented on #301
@YasserHassan I noticed the issue and I thought about using a feature that AdminLTE already provides which is a search form in the navbar. However, that also has its limitations. In small devices, it is difficult to make space for all of that in the navbar. The best soution I could think of is this:

![screen shot 2015-03-23 at 1 54 20 pm](https://cloud.githubusercontent.com/assets/1512664/6786665

[2015-03-23 18:06] almasaeed2010 commented on #301
@kressly I understand your concern. However, think of it this way, if the user can't find the search form then he can't navigate the site to begin with. I mentioned a couple of things about that in my previous post. I will keep working on finding a solution. Thank you!

[2015-03-23 18:55] YasserHassan commented on #301
@kressly the mini sidebar makes more sense as it is now in the preview above. It's the intermediate state between the fully expanded and the hidden states that preserves the sidebar navigation functionality without occupying too much space especially in medium screen sizes. The right sidebar suggested earlier was for extra information that needs a relatively large space to display so replacing it

[2015-03-23 19:45] almasaeed2010 commented on #301
I must have misunderstood you. I'll see what I can do about that soon. I'll report any progress back here.

[2015-03-24 08:52] laudeco commented on #301
@almasaeed2010 Super work ! thanks
When the sidebar is in mini, it could be very interesting to expand the multilevel menu on hover instead by click like now. On mobile of course, we keep the click to expand.

Thank you !
Kind

[2015-03-24 09:15] YasserHassan commented on #301
@almasaeed2010 thank you for your consideration. In addition to the above, many mobile apps like Facebook's and LinkedIn's handle the search functionality in a streamlined way that does not clutter the user interface while keeping the search accessible. They can be good starting points to brainstorm this area which in my opinion is a weakness point in this great design.

[2015-03-24 10:02] Soullivaneuh opened #302 "Box collapse does not work on an ajax loaded page."
If a page with AdminLTE boxes is loaded from ajax, the collapse system don't do anything.

The concerned code lines are here: https://github.com/almasaeed2010/AdminLTE/blob/master/dist/js/app.js#L365-L374

I think you sould use `.on('click')` function instead of `.click()` like I did on this workaround:

[code]

I will work on a PR if I have some time.

[2015-03-24 10:14] Soullivaneuh opened #303 "Separate implementation from AdminLTE class"
Actually both AdminLTE class and [implementation](https://github.com/almasaeed2010/AdminLTE/blob/master/dist/js/app.js#L117-L123) are on the same file `app.js`.

It could be useful to separate this logic, for example:

 * `admin-lte.js` -> The AdminLTE class.
 * `app.js` -> The file which init and implement this class.

For example, in Ember, we have to manually implement functionality like this:

[2015-03-24 11:50] almasaeed2010 commented on #302
That's a great idea. I will review your PR and get back to you once I get a chance.
Thank you!

[2015-03-24 11:55] almasaeed2010 commented on #303
This seems like an interesting idea. However, this is considered a major change and thus requires a full version jump (from v2 to v3) and it is a bit early for that. I'd like to maintain backwards compatibility throughout the whole v2.x increments. Nonetheless, I will keep this in mind for the future.

Great advice. Thanks!

[2015-03-24 12:03] almasaeed2010 commented on #301
@laudeco that sounds good. I will try it as an experiment and see how it goes.

@YasserHassan these companies don't use responsive design. What'd I'd like to do is to have only one search form instead of implementing it twice (in sidebar and navbar for example). So, if I could modify the current design to be easily accessible from the sidebar, it would be ideal. The idea I have is to replace the f

[2015-03-24 12:19] laudeco opened #305 "[Mailbox page] As a user I want to be able to hide folders or label on phone"
Hello @almasaeed2010 ,

It could be useful for a user on a phone to collapse folders and/or labels on the mailbox page.
https://almsaeedstudio.com/themes/AdminLTE/pages/mailbox/mailbox.html

As you want I can implement it and request a PR.

[2015-03-24 12:41] Soullivaneuh commented on #303
You're welcome! ;)

For reducing BC breaks we could get this solution (arbitrary file names):

 * `admin-lte.js` -> The AdminLTE class.
 * `init.js` -> The file which init and implement this class.
 * `app.js` or/and `app.min.js` -> `admin-lte.js` and `init.js`

This solution will not brake `2.x` branch cause of no change on app file.

What do you think about that?

[2015-03-24 12:42] Soullivaneuh commented on #302
OK i'll get in touch. :+1:

[2015-03-24 13:19] Soullivaneuh commented on #303
BTW, I think options should be separated to with a little documentation for how to override it without modify the source code (for bower installation in example).

[2015-03-24 20:22] YasserHassan commented on #301
@almasaeed2010 I know that the examples I mentioned are not responsive designs, they are mobile apps after all. What I meant was to see how those apps make the search functionality accessible and streamlined from a user's point of view, then see how to make it happen in AdminLTE as from a layout perspective, the mobile apps is comparable to the small version of AdminLTE and their application of th

[2015-03-24 20:29] YasserHassan opened #306 "Enhacncement: Add Select2"
[Select2](http://select2.github.io) is one of the popular web design components with a lot of useful functionality for selecting and tagging. It would be good to see it as part of AdminLTE.

[2015-03-24 21:15] #296 closed

[2015-03-24 21:16] #299 closed

[2015-03-24 21:36] kressly commented on #296
Ok Thanks a lot

[2015-03-24 22:01] scottscreations commented on #306
i've been using this in my stuff, the select2 where you can swap between two select lists is the best.

[2015-03-24 22:24] kressly commented on #301
@almasaeed2010 I most at time on Facebook with my mobile However I do not really use their left menu because most thing that i need are either on the top or displayed directly there. On mobile devices, the left menu is closed by default. So for a beginner (a new user) he may not know how to open that menu. In my case and i think also in the case of Facebook most important things are either on the

[2015-03-24 22:51] YasserHassan commented on #306
@scottscreations what did you mean by "swap between two select lists"?

[2015-03-24 22:56] scottscreations commented on #306
@YasserHassan doh, i thought select2 was doing this but i just looked at my code, its multi-select found here: http://loudev.com/

[2015-03-24 23:16] YasserHassan commented on #301
@kressly The mini sidebar is an convenient middle ground between a completely hidden and fully expanded sidebar. This mini state is user-optional and of course is not meant for new system users until they become familiar with the meaning of the icons which usually takes a very short time to grasp.

It's normal that you don't know the meaning of the icons above as this is a template and you don't u

[2015-03-24 23:35] YasserHassan commented on #299
I think this is achievable using Tab Drop, check this comment https://github.com/almasaeed2010/AdminLTE/issues/297#issuecomment-83499513
Another option is implementing a mechanism for horizontal sliding but in my opinion the Tab Drop approach is better.

[2015-03-25 13:05] lenamtl commented on #306
Select2 can do the same as loudev but the look is different.
Select2 is the best script for selection and you can make group which is a plus, I have tested several scripts.

[2015-03-25 13:52] goof03 commented on #301
Hi ! It would be cool if the new version could be more requireJS aware. Where we could put all your stuff in a vendors/module directory of a new app. create an AdminLTE-config.js and call an AdminLTE.js module. I use it with backbone.js View and need many work on each update and dispatch all your file inside my apps. But thanks it's a great theme anyway ;-)

[2015-03-25 19:26] Nightbr opened #307 "Add dataTable Responsive label:Suggestion"
Hi,
It would be nice if you can add dataTable Responsive : https://datatables.net/extensions/responsive/
I have add it in my project and It's a great render.
![capture d ecran 2015-03-25 a 20 22 01](https://cloud.githubusercontent.com/assets/4228646/6833360/a1982b64-d32c-11e4-90aa-f0e93f06bf00.png)

Also, a little fix for the search input field in mobile view :
Add in css file this :

[code]
It wi

[2015-03-25 22:57] almasaeed2010 commented on #301
@goof03 I am not very familiar with RequireJS and Backbone.js. So, I don't think v2.1 would provide such support. However, it is good that you have pointed this out. I will look into it more and perhaps implement a solution in future releases. Thank you for contributing!

[2015-03-25 23:33] goof03 commented on #301
Just to clarify you dont have to be familiar with Backbone.js if you make your theme require.js compliant it could be use simply in many other javascript framework like angular.js, backbone.js, etc…
And more, require.js could simplify your work with your plugins dependencies, minifying your code.
Another thing come into my mind is there a reason to not using CDN for jquery and boostrap ? because i

[2015-03-26 01:14] almasaeed2010 commented on #301
@goof03 intersting! I want to keep the page load and dependencies to a minimum. Since, not everyone uses RequireJS or similar scripts, how do you suggest we provide support without having to actually use it in the template?

I understand how the use of CDN could be beneficial. However, many users complained about them since they require offline support. This template is being used in a few NodeJS

[2015-03-26 01:43] scottscreations commented on #301
I prefer the non CDN. My application could easily be put offline and on an internal limited network for security reasons.

[2015-03-26 02:38] goof03 commented on #301
I don't want to feed the troll i will continue to modify the theme with CDN ;-). It's two face of the same coin …

For require.js my advice is to read the documentation and make your own choice … But it's only 14.9k and it load js only when it's need. With r.js you can create just one js file minified with just one command line for exemple you can automate this optimisation when you push a product

[2015-03-26 09:13] kressly commented on #301
@almasaeed2010  @YasserHassan
Yes I think tooltip and especially fully expanding the bar on mouse over will be great. However none of these will work on mobile, therefore on mobile the user will have to take a leap of Faith and click... Hum... I am just concern about new users

[2015-03-26 09:50] kasperhartwich commented on #301
I will, again, request an example of a  'data' page where a lot of information would be, like the Facebook about page.

[2015-03-26 22:48] musheerkhalid opened #308 "Multicolumn Autocomplete"
Does it have multicolumn autocomplete (Like Grid) or does anybody have suggestions?

Regards,
Musheer Khalid.

[2015-03-27 14:00] kressly commented on #301
:+1:  @kasperhartwich
I greatly would like to suggest that app.js and other javascript code in AdminLte to come, will be with a jquery noconflict mode in other word, instead of using $ as variable, it will be wonderful to directly user jQuery as variable.

example
instead of ` $('#messages_content').` we can have ` jQuery('#messages_content').`

That way most people using other libraries like me w

[2015-03-27 14:12] kressly commented on #308
Please can you reformulate the question ? Personally i did not understand it well. I have searched for multicolumn autocomplete like Grid and i have found this

http://combogrid.justmybit.com/options/showon.php

If your question is that you want to do an autocomplete on a field, they are plenty script for that. @lenamtl spoke to me about Choosen, bootstrap-tokenfield...

Now if that is not your qu

[2015-03-27 15:53] musheerkhalid commented on #308
Thanx.

On Fri, Mar 27, 2015 at 7:42 PM, Max John <notifications@github.com> wrote:

--
*Thanks and warm regards,*

*Musheer Khalid*

Z Info Solution (P) Limited
│A-6, First Floor│
│Sector-10, Noida (UP) 201301│Office +91-120-4120123│
│Mobile Delhi +91-9911611270│Mobile Lucknow +91-9161919925│
│E-Mail: mkhalid@zinfosolution.com│Website: www.zinfosolution.com│

[2015-03-27 19:06] wch commented on #302
This would be really useful for my use case as well. I actually made exactly the same fix independently.

[2015-03-27 20:42] scottscreations commented on #301
http://stackoverflow.com/questions/4811807/hidden-sidebar-that-shows-up-on-hover

would something like this compliment the sidebar small nav?

[2015-03-27 21:25] kressly commented on #302
Yes click is deprecated in the newest version of jQuery. Now it is on('click') .

[2015-03-27 23:09] almasaeed2010 commented on #307
Will look into it for sure

[2015-03-27 23:11] almasaeed2010 commented on #302
@kressly .click is not deprecated https://api.jquery.com/click/
However, it does not listen to click events on dynamically created elements which .on('click') does. Just a friendly correction.

[2015-03-27 23:13] almasaeed2010 commented on #308
I am planning on implementing [Select2](https://github.com/select2/select2). It should allow you to create a custom autocomplete menu. Thanks for the suggestion.

[2015-03-27 23:13] #308 closed

[2015-03-27 23:14] almasaeed2010 commented on #305
I have a couple of ideas. I'll see if I can implement one.

[2015-03-27 23:18] almasaeed2010 commented on #306
Sold on the idea. However I am not sure if I will implement it in the premium version or the open source one. Honestly, customizing the look of this script has proved to be a pain in the butt when I tried to do it before.

[2015-03-28 03:44] kressly commented on #306
Select2 is VERY nice. However I have also faced some challenges in adding Images to it directly from the json. For example I wanted to use it to make a search and contact of person like it is done on the facebook search bar where you search for  friends and select them so that u can contact them. Adding images from my json (profile picture) has been a great challenge bcose it was not working on so

[2015-03-28 04:41] kressly commented on #302
Oh Ok thanks a lot. I was using jquery and was having an error and I read somewhere that click was deprecated and the solution was on('click'
Apparently I was not the only one
http://stackoverflow.com/questions/11296530/jquery-onclick-vs-click-and-delegateclick

But thanks a lot for the correction bro

[2015-03-28 07:25] YasserHassan commented on #306
@almasaeed2010 I believe Select2 is ready out of the box for integration in AdminLTE. I recommend going for version 4, it is still pre-release but it's the future of Select2. The append and prepend addon states might need consideration though.

[2015-03-28 14:53] almasaeed2010 commented on #306
I saw the release candidate. It should be easier to customize but it isn't ready for AdminLTE. The field size does not match the rest of the input elements and the hover, active and focus states do not match either. Putting a select2 element with other AdminLTE form elements would look odd. I want to try my best to keep all the elements consistent with each other.

[2015-03-28 15:07] almasaeed2010 commented on #301
### Light Sidebar Preview

**Fully expanded**
<img src="https://cloud.githubusercontent.com/assets/1512664/6881543/d17c0be8-d539-11e4-8f49-25573c66cfb1.png" width="300" height="auto" alt="AdminLTE light sidebar color"/>

**With sidebar mini**
<img src="https://cloud.githubusercontent.com/assets/1512664/6881542/cb042d18-d539-11e4-9de2-5151ce58c8ea.png" width="300" height="auto" alt="AdminLTE light

[2015-03-28 15:20] Soullivaneuh commented on #302
Just a precision:

[2015-03-28 15:24] YasserHassan commented on #301
@almasaeed2010 looks good. It would look better if the bar's right vertical edge is not obscured by the 2nd-level menu in the area shown below so the menu looks sticking beside the bar instead of above it.
![mini-toolbar](https://cloud.githubusercontent.com/assets/9349772/6881619/1728066c-d56f-11e4-9492-8ef610461fa0.png)

[2015-03-28 15:24] Soullivaneuh commented on #302
Just a precision.document

[code]

Will not work for dynamic elements.

[code]

Will work. I made this on my #304.

More info: http://stackoverflow.com/a/9344454/1731473

[2015-03-28 15:24] XinYiMan opened #309 "AdminLTE problem with table"
Hi, I'm trying the template AdminLTE, I must say it is very well done. My compliments. I have only one problem, I do I need to use some grids crud that when they have too many columns SFOR from the screen and I can not see them. Unfortunately I wont be able to use AdminLTE not only for this reason, so for this I ask your help. At this link you can find the source code modified by the insertion of

[2015-03-28 15:34] almasaeed2010 commented on #301
@YasserHassan thanks for pointing that out

![screen shot 2015-03-28 at 11 33 36 am](https://cloud.githubusercontent.com/assets/1512664/6881639/5056b90a-d53e-11e4-855f-55bd2bd1355b.png)

[2015-03-28 15:51] yamenshahin opened #310 "Add/Remove Input Fields Dynamically"
Is there a way to add/remove input fields dynamically like the example here http://goo.gl/nBZm1e or should I make it by myself?
Thanks

[2015-03-28 15:53] almasaeed2010 commented on #310
Unfortunately, AdminLTE doesn't provide this feature. We apologize for the inconvenience.

[2015-03-28 15:55] almasaeed2010 commented on #309
Hello @XinYiMan
I am not sure I get what you mean. Could you please clarify a bit more?
Thank you!

[2015-03-28 16:00] XinYiMan commented on #309
Download the .zip file link. Then displays the index.html in a browser, scroll to the bottom of the page and you will see a grid with many columns that go to the right, you should see the column1 column10 instead see only until column3 because the columns are too many. How do I see all of them?

[2015-03-28 16:00] yamenshahin commented on #310
Thank you

[2015-03-28 16:19] almasaeed2010 commented on #309
You have a few problems in your html markup.

Here is a guide as to how to fit that much data into a box:
[code]

[2015-03-28 16:22] XinYiMan commented on #309
Thank you. You are an angel!

[2015-03-28 16:23] almasaeed2010 commented on #309
No problem. Did it work?

[2015-03-28 16:24] XinYiMan commented on #309
Yessss

[2015-03-28 16:25] almasaeed2010 commented on #309
:+1:

[2015-03-28 16:25] #309 closed

[2015-03-28 16:29] YasserHassan commented on #301
@almasaeed2010 thank you for the quick response.

[2015-03-28 18:09] #310 closed

[2015-03-28 18:13] almasaeed2010 commented on #301
### Right Sidebar

Currently only available in dark skin. The sidebar will be implemented with two show options, a slide over content options and stick option. The first will take the effect as seen below. The second will move the content to make space for the sidebar. This feature hasn't been implemented yet. We will provide it with the beta release.

![screen shot 2015-03-28 at 2 09 16 pm](https

[2015-03-28 20:01] musheerkhalid commented on #308
Please see the attached image & link for reference.

http://www.jeasyui.com/demo/main/index.php?plugin=ComboGrid&theme=default&dir=ltr&pitem=

![combogrid](https://cloud.githubusercontent.com/assets/11671898/6882665/410bd938-d5b3-11e4-9ab1-73b61c58172d.png)

Thanx & Regards

[2015-03-29 00:35] almasaeed2010 commented on #301
The [preview](https://almsaeedstudio.com/themes/AdminLTE-dev/index2.html) has been updated to reflect the new changes. Please be advised that only Dashboard 2.0 has right sidebar.

[2015-03-29 10:47] t0n1zz commented on #307
@Nightbr hi, i also want to integrated that feature too but i just can't get it work (tried other extension and working but not this one), can you tell me what should i do to make that work?

[2015-03-29 10:54] t0n1zz opened #311 "Datatables with horizontal scroll"
Hi,
i using datatables and adding horizontal scroll to my table since there is just to many column, it looks great with sidebar visible, but when i hide the sidebar it look like this,

![screenshot 5](https://cloud.githubusercontent.com/assets/6964548/6885135/206f7192-d63c-11e4-9d34-6b1e3934711a.png)

there is some space between the last column and box that contain the datatable, it just looks lik

[2015-03-29 10:59] Nightbr commented on #307
@t0n1zz Hi, i used Bower to include the plugin :
You need to add this to you bower.json or use the command `bower install`

[code]

After link css and js asset to your html page :

[code]

And finally, create a table and attach the behavior with jQuery :

[code]

[code]

That's it!! Enjoy your responsive DataTable!

[2015-03-29 11:42] kressly commented on #301
:+1:  Wonderful
But please let lower the well that enables to choose skins otherwise it makes it difficult to click on the right side bar.
![01](https://cloud.githubusercontent.com/assets/925132/6885278/a6104564-d610-11e4-9940-f6d3257a62af.png)

And please let us have an option so that those who wants the left side bar to be completely displayed by default on large screen and only reduced when the

[2015-03-29 11:54] Nightbr commented on #311
@t0n1zz Hi, I am pretty sure it is because you have these tags in your HTML around the table:

[code]

Remove it!

[2015-03-29 12:12] YasserHassan commented on #301
@almasaeed2010 looks very good. Here are some suggestions to think about:
- An option to integrate the right sidebar in the main area like the left one instead of hovering. This can be particularly useful when used on big screens to display frequently updated information that the user likes to keep an eye on without obscuring the main content or prevent interaction with it.

- The opposite for the

[2015-03-29 16:04] kressly opened #312 "Calendar not displaying in Master after download"
Hello
The calendar is not displaying in version 2 after downloading the master. This is what i get
![1](https://cloud.githubusercontent.com/assets/925132/6886418/7fab9304-d635-11e4-89a4-2e5c39a78b46.png)

[2015-03-30 01:07] ifaniqbal commented on #290
It is confusing for me. I think you should not use ionicons in example pages if not needed. I've removed that from my site and everything is working and faster load time.

[2015-03-30 04:46] t0n1zz commented on #311
no, it's only appear when i add

$(document).ready(function() {
        var table = $('#dataTables-example').dataTable({
                        scrollX : true,
                        scrollCollapse : true
                    });
    });

but if i remove scrollx and scrollcollapse it will strech like what it should be, but i need those horizontal scroll if my columns are to many to fit on box

[2015-03-30 08:21] t0n1zz commented on #307
@Nightbr wow thank you... it works!! much more easier to understand then documentation they provided

[2015-03-30 08:23] Nightbr commented on #311
okay... so use the plugin DataTable-Responsive ^^" look at issue #307

[2015-03-30 08:25] Nightbr commented on #307
@t0n1zz you're welcome ;) you can now close the issue #311 I think.

[2015-03-30 08:31] t0n1zz commented on #311
@Nightbr yea i already prepared 2 plan to work this out, first responsive extension (that i asked to you) and another one is this...

but i got an issue when using responsive extension, like what you see on my screenshot, there is button in the very right column, and that use to call modals, but it just not working when this button in responsive position (place where we need to click (+) )

[2015-03-30 08:38] Nightbr commented on #311
@t0n1zz do you use the listener `on` of jQuery to attach the event to the button ?
Add to that, I think you have a well-known problems:
Attach event to dynamic DOM content. Look at this: http://stackoverflow.com/questions/15090942/jquery-on-method-not-working-on-dynamic-content

It will resolve your problem and the modal event will be attach to the btn in responsive mode too.

[2015-03-30 08:48] Nightbr opened #314 "Setup a Gitter for the repo [Suggestion]"
Hi,
it would be great if you could setup a Gitter Chat room for your repositorie. Look at https://gitter.im/
Thanks a lot.

Regards

[2015-03-30 09:49] kressly commented on #314
Wow that's great :+1:  @Nightbr
I hope Dr @almasaeed2010  will take it into consideration

[2015-03-30 16:03] kressly commented on #312
Does someone has a fix for that ?

[2015-03-30 17:33] MewesK commented on #303
:+1: I like this idea. Since I'm using a very custom gulpfile to build AdminLTE anyway I would love to merge the init logic with my own and save a couple KiB.

[2015-03-30 20:47] almasaeed2010 commented on #312
make sure this line is correct in calendar.html before loading the calendar script.
[code]

[2015-03-30 20:51] almasaeed2010 commented on #314
Hello,

Our community isn't currently big enough to be responsive in such mediums. Perhaps in the future.

We appreciate your contribution and sorry for the inconvenience.

[2015-03-30 20:51] #314 closed

[2015-03-31 01:26] t0n1zz commented on #311
i'm using it like this

$('.modal4').on('click',function(){
	$('#modal4show').modal({
		show: true,
	})

	var myvalue = this.name;
	$('#modal4id').attr('value',myvalue);
});

[2015-03-31 07:27] Nightbr commented on #311
Can you copy/paste here the html of your table ?

For the responsiveness of the table, It is linked to the width of the table, so it is link to the sidebar too. Change the size of the sidebar and you will see that the dataTable will hide column.

[2015-03-31 07:38] fschaeffer commented on #306
@almasaeed2010 are you working on the premium version and will it be compatible in terms of source code? I'm very interested in supprting your work and would love to obtain a licence, especially when you are about to add more and more enterprice ready widgets.

I recently stumbeld over http://admindesigns.com/framework/dashboard.html which mimics the look and feel of AdminLTE but has a different h

[2015-03-31 08:14] t0n1zz commented on #311
okay here is one of my table (not a big one but all my table have the same class just different in column count)

 <table class="table table-striped table-hover" id="dataTables-example">
                <thead>
                <tr>
                    <th>Urutan</th>
                    <th>Pengumuman </th>
                    <th>Tanggal</th>
                    <th>Hapus</th>
                </t

[2015-03-31 08:32] Nightbr commented on #311
For modals:
try this

[code]

For the dataTable-responsive and the sidebar, you can't view the difference because it works with steps of width. And the sidebar is not large enought to view the difference. I think in the docs of DataTable-responsive, you can configure width-steps.

Look at here : https://datatables.net/extensions/responsive/classes
You will see the width-steps that they called Brea

[2015-03-31 12:03] almasaeed2010 commented on #306
Hello @fschaeffer I am currently working on both v2.1.0 and the premium version. The premium version will be an extension to AdminLTE. It is designed so that it integrates with the open source version as easily as possible.

Regrading the template you linked to, it is based bootstrap as many other templates. Honestly, most of admin templates look similar and most have distinguishing features appea

[2015-03-31 14:16] kressly commented on #312
Yes I did that but still i am getting the same result. The calendar is not displaying

[2015-03-31 14:56] almasaeed2010 commented on #312
I downloaded the script on Github and ran it but couldn't find any issues. Is your version customized?
If not, download a new copy and replace your calendar page then try again.

[2015-03-31 15:41] fschaeffer commented on #306
Great, then I am looking forward to all the stuff that might come to both the free and the premium version, like the already good looking right sidebar which opens up great possibilities. Thanks a lot for the excellent work.

[2015-04-01 03:23] t0n1zz commented on #311
Oh i already tried it and it works but only for one button, and i have more than 1 button/<a> that execute modals, how to make it all works?

and i don't know if i need to open new issues or not
but i currently experimenting with datatables and now i trying to adding fixedheader and it works fine when sidebar is visible, but when sidebar hidden there is like double header, the one is header that s

[2015-04-01 06:01] almasaeed2010 commented on #286
I tired to solve this several times. I can't figure out a solution! Any idea how to solve this problem?

[2015-04-01 06:02] almasaeed2010 commented on #295
To keep you updated. This plugin is going to be added to the premium collection. Thanks!

[2015-04-01 07:24] t0n1zz opened #315 "sidebar savestate?"
Hi,
i wondering is there a way to make like if i hide sidebar, then when i navigate or reload the page, it will stay hidden and otherwise if the sidebar visible then it will stay visible until i click hamburger menu again to hide it and so on? since this template will always show page with sidebar visible

[2015-04-01 08:02] Soullivaneuh commented on #303
So @almasaeed2010, what do you think of my second solution?

Could be feasible without any BC break, isn't it?

[2015-04-01 08:14] YasserHassan commented on #315
This would be a good feature as persisting the UI state is required in most - if not all - of such web applications.

[2015-04-01 08:25] pakey commented on #301
hey，how can i use Light Sidebar  in 2.0.*

[2015-04-01 15:12] almasaeed2010 commented on #315
Hello,
Although this might sound like a front-end job but it isn't. This should be implement as a back-end mechanism. This is because when the user loads a new page, the default setting will be applied and javascript will deal with the saved state after the page loads. Thus, causing unwanted transitions and animations (i.e., the sidebar would appear in its regular state for a moment before javascr

[2015-04-01 15:58] YasserHassan commented on #315
I agree with you on that undesired effect for HTML elements sent to the browser and the sidebar is one of them. It could be an option though for jQuery plugins initiated in the browser.

[2015-04-01 18:35] scottscreations commented on #295
sweet, i've been using the gritter one http://boedesign.com/demos/gritter/

any release date on the premium?

[2015-04-01 18:37] almasaeed2010 commented on #315
I am afraid I don't understand what you mean. Could you clarify please?

[2015-04-01 18:49] almasaeed2010 commented on #295
@scottscreations I saw gritter before and it is a really good plugin. However Toastr is more Bootstrap oriented and serves the same purpose, so I decided to go with it.

The premium version is in its early stages and I am not sure when I will be able to release. Hopefully soon though. I appreciate your patience.

[2015-04-01 18:57] scottscreations commented on #295
@almasaeed2010 I agree, it looks nicer.

[2015-04-01 19:16] YasserHassan commented on #315
What I meant is that trying to hide the sidebar on the client side will have the effect you mentioned; with each page load, you'd see the sidebar fully expanded first, then it collapses. So yes you better detect and persist its state on the server, not in the browser.

However, the status of jQuery components such as DataTables could be persisted on the client side because they are initialized ins

[2015-04-01 21:11] yufieko commented on #301
I found out little error in avatar size when activated the mini sidebar.
I'm using the latest Firefox browser, in Chrome it's fine.
![capture-adminlte](https://cloud.githubusercontent.com/assets/7820512/6952672/20f2c556-d8ee-11e4-846f-ae6b0710dc18.png)

[2015-04-01 21:13] almasaeed2010 commented on #301
@yufieko I noticed this issue yesterday and am trying to figure out why is it happening. I will let you know once it is solved. Thanks for keeping me informed!

[2015-04-01 21:14] almasaeed2010 commented on #301
@pakey the light skins have not been implemented yet. It is a work in progress. And will be available only in v2.1.0 and above.

[2015-04-01 22:36] t0n1zz commented on #315
yea i get that idea from datatables savestate feature and i loved it, i don't need to do any complicated thing to make sure i will back to the same table page when i submit something within the table

and also i think it will be great if when sidebar collapsed it's not entirely gone but only collapsed to the point where sidebar only show icons for each menu.... but it just a personal taste hahahah

[2015-04-01 23:47] scverano commented on #295
I think you can also considered Bootstrap Notify. I've found out that the animation are really nice. http://bootstrap-growl.remabledesigns.com/

[2015-04-01 23:59] nicolas-besnard commented on #295
This template doesn't need to integrate a "default" notifications system,
as it will just be to add the Javascript file. Just add your favorite one :)

On Thu, Apr 2, 2015 at 12:47 AM Sly Verano <notifications@github.com> wrote:

[2015-04-02 00:01] #295 closed

[2015-04-02 00:23] pakey commented on #301
@almasaeed2010 okey,3q.I'm looking forward to the arrival of the 2.1.0 version, what can I do, to make 2.0.1 earlier put into production environment.

[2015-04-02 00:51] almasaeed2010 commented on #295
@nicolas-besnard is absolutely right. You can use any of these nice scripts. The one I am going to implement might have special style modifications to be consistent with AdminLTE. I still think Toastr is the best option.

[2015-04-02 07:31] githubjeka opened #317 "Content-header: header overlaps breadcrumbs"
![image](https://cloud.githubusercontent.com/assets/874234/6959560/14731238-d923-11e4-9038-0633a681bffe.png)

[code]

[2015-04-02 21:47] kressly commented on #312
Thanks

[2015-04-02 21:47] #312 closed

[2015-04-02 21:54] kressly opened #318 "How to display the timeline body alone ?"
Hello
Please how to display the timeline alone instead of displaying the timeline and the icons.
Instead of this
![01](https://cloud.githubusercontent.com/assets/925132/6974481/042f4910-d98b-11e4-9f5a-59dc99ec848b.png)

I would like to display this only without the things on the left on the previous image
![1](https://cloud.githubusercontent.com/assets/925132/6974494/2478b29c-d98b-11e4-8e77-c17a2f

[2015-04-03 05:29] dmaksimov opened #319 "Button with .pull-right outside of .box-body"
When having a button with a class of .pull-right as the last element in a box-body, the button shows up outside of the box element.

![screen shot 2015-04-03 at 12 25 51 am](https://cloud.githubusercontent.com/assets/497369/6978413/0c9000ba-d998-11e4-92a8-f15217dc327b.png)

Might be good to have "clear: both" after the .box-body like Bootstrap's .panel-body.

[2015-04-03 13:28] kressly commented on #318
Can someone help me with this ?

[2015-04-03 15:35] adaniello commented on #318
Why not use simply a panel?

[2015-04-03 15:54] boolie commented on #301
@almasaeed2010 @yufieko At a glance, it looks like you can fix the mini-sidebar avatar issue in Firefox by adding a 100% width to the collapsed sidebar user panel image.  I haven't tested it in IE/Chrome, but one of the following should do the trick in FF.  Cheers.

[code]
Or here...

[code]
Or via less...

[code]

[2015-04-03 16:23] almasaeed2010 commented on #317
This is because the breadcrumbs are positioned absolute. I didn't imagine anyone going full length with titles. If you need long length titles, then you should add the breadcrumbs within the content instead of the content-header.

[2015-04-03 16:27] almasaeed2010 commented on #318
I agree with @adaniello. You should use a regular ```.box``` for that effect. What is it that you need replicated exactly? I might be able to help if you let me know what part do you want to replicate.

Try this:
[code]

[2015-04-03 16:31] almasaeed2010 commented on #319
Since it is not always the case that you need a floating object within the box, you should add the class ```clearfix`` to the body. I will fix this in 2.1.0. Thank you for letting me know!

[2015-04-03 16:36] almasaeed2010 commented on #315
I understand your point and it is appealing to implement. However this is a bit of the template's scope and will consume time and effort that I don't possess. Thanks for the suggestion. Please keep it up!

[2015-04-03 16:36] #315 closed

[2015-04-03 16:37] almasaeed2010 commented on #319
Fixed in v2.1.0

[2015-04-03 16:37] #319 closed

[2015-04-03 16:38] almasaeed2010 commented on #300
Fixed in v2.1.0

[2015-04-03 16:38] #300 closed

[2015-04-03 16:43] Ryxeuf opened #321 "Embed boxes collapse"
When you have embed boxes that you can collapse, if you collapse a child, then collapse its parent, then expand the parent, th child is expanded too but with the fa-plus icon instead of fa-minus.

Expanding children could be an error.
Instead of using .find() on line 442, using .children() fix that issue.

[2015-04-03 16:50] almasaeed2010 commented on #321
Could you please post the html for the embedded boxes. I will work on it soon. Thanks!

[2015-04-03 16:59] Ryxeuf commented on #321
<code>
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">
                Scene 1
        </h3>
        <div class="box-tools pull-right">
            <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body" style="display: block;">

    <div class="box box-suc

[2015-04-03 17:00] Ryxeuf commented on #321
Don't know if it works for you to read the html

[2015-04-03 18:37] almasaeed2010 commented on #321
You have to put your code within three copies this symbol ``` ` ```. Review this link please:
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code

[2015-04-03 18:38] almasaeed2010 commented on #321
I edited it for now to display the code.

[2015-04-04 00:35] almasaeed2010 commented on #321
Fixed in v2.1.0a

[2015-04-04 00:35] #321 closed

[2015-04-04 00:47] almasaeed2010 commented on #301
### Static Right Sidebar
Added the ability to disable slide over content.
![screen shot 2015-04-03 at 8 34 33 pm](https://cloud.githubusercontent.com/assets/1512664/6990727/27b3a55a-da41-11e4-9768-c6eacd64ca06.png)

Fixed bugs:
- Sidebar mini user image out of bounds as mentioned by @yufieko
- Nested box widgets collapse and open issue #321
- Added new skins and control sidebar options to demo men

[2015-04-04 04:28] spiritdead opened #322 "support for cookie"
hi well i view in other template this,

 for the config of the template, example if you expand or collapse the left menu

when i collapse the menu and when i press f5 or enter to other view, this continue collapsed,etc

[2015-04-04 08:17] githubjeka commented on #317
May be use
[code]

[2015-04-04 11:32] kressly commented on #318
Woo hoo it is working :+1:
Thanks @adaniello  @almasaeed2010

[2015-04-04 11:32] #318 closed

[2015-04-04 11:39] kressly commented on #301
Wow :+1: Impatienly waiting for the download link. This is awesome. Can we add something like friedns online (like facebook's own ) on the right side bar  ?

[2015-04-04 12:09] YasserHassan commented on #301
@almasaeed2010 the option to embed the right sidebar is very good. I would be better if the sidebars change is unified, either both dark or both light. It would be good too to add right sidebar to the skins thumbnails in the options settings form.

[2015-04-04 12:27] YasserHassan commented on #301
There's an issue in the left sidebar expansion behavior. I does not exactly reverse the collapsing steps so at a certain point during expansion, content that's supposed to appear only after expansion is complete is shown during the transition leading to an undesired effect as shown below.
![l-sidebar-expanding](https://cloud.githubusercontent.com/assets/9349772/6992560/f48fe244-dade-11e4-9526-584f

[2015-04-04 14:25] almasaeed2010 commented on #322
Hello
Please review issue #315
We decided that this feature should be implemented by backend developers.

[2015-04-04 14:25] #322 closed

[2015-04-04 16:45] almasaeed2010 commented on #301
@kressly thanks :+1: You can download and test the master repo since I updated it. Just keep in mind that it isn't ready for production yet.

@YasserHassan the right sidebar will have two different skins with the release of beta. However, it won't be affected by skin classes. It will have its own color scheme class. This is so the user can have each sidebar a color if they want. I actually like ha

[2015-04-04 16:57] almasaeed2010 commented on #301
**Issue:** right sidebar doesn't work with boxed layout.

![screen shot 2015-04-04 at 12 56 28 pm](https://cloud.githubusercontent.com/assets/1512664/6993669/08b420f6-daca-11e4-9712-1e5dba9e60f7.png)

[2015-04-04 17:06] YasserHassan commented on #301
@almasaeed2010
- Having the option for color each sidebar separately is even better.
- If the only solution for the the expanding sidebar issue above is JavaScript with some overhead, I vote for it. I don't think overhead would even be a problem with today's computers.
- I suggest that you add a 3rd tab to the right side menu. I know developers can add them easily but it'd be better to make sure i

[2015-04-05 08:17] son2xp2go commented on #227
in yii2. where can i find that  overflow-x: hidden!important;???

[2015-04-05 09:51] githubjeka commented on #227
Yii2 `dmstr/yii2-adminlte-asset` using AdminLTE 2.0 in composer for `phundament/app`. But for `advanced` or `basic` html code remained unchanged from AdminLTE 1.0. This problem has been urgent for AdminLTE 1.0. Now it fixed.

[2015-04-05 12:24] son2xp2go commented on #227
I only see php files inside adminlte-asset folder. no core.less.. Where exactly do I delete overflow-x: hidden!important;???

[2015-04-05 13:17] ivantcholakov opened #323 "A suggestion, Latest Members widget: Make user photos clickable too, only the name is now."
https://github.com/almasaeed2010/AdminLTE/blob/v2.0.5/index2.html#L876
It would be good the user photos to have the same links as the correspondent links below them without loosing styling.

[2015-04-06 08:51] XinYiMan opened #324 "Problem with editablegrid 2 and AdminLTE"
Hello, I have the following problem. I have a grid that does not make me see all the columns that should. A similar error I had already come across and almasaeed I had helped solve. But with the solution you gave me I do not work in this case. How so? In the attached file you can find an image of the grid should be seeing many more columns, for accuracy should be seeing these columns here:

ID
NOM

[2015-04-06 20:51] kressly opened #326 "Is there a way to add a comment Box ?"
Hello
Is there a way of making a panel a comment box like facebook or at least a little beat different from the normal panel

For example
![000 - 1 - tracking](https://cloud.githubusercontent.com/assets/925132/7012168/a131107a-dc9e-11e4-90a2-9cf2562e8382.png)

Is there a way for me to add a comment box to this ?

Thanks for helping

[2015-04-06 21:12] almasaeed2010 commented on #326
Hi,
AdminLTE doesn't provide a comments system but you can use [Bootstrap's media objects](http://getbootstrap.com/components/#media). I suggest adding them in a box footer.

[2015-04-06 21:13] almasaeed2010 commented on #324
Hi,
This issue should be reported to the plugin's maintainer since it is not an AdminLTE issue. Thank you.

[2015-04-07 06:49] merdj opened #327 "responsive test"
hello,

First off, thank you for your great admin program, nice one.
I am playing it right now and I found an issue which I would like you to check it.

I am testing it using responsivetest.net website, the site is self-explanatory.

http://responsivetest.net/#u=https://almsaeedstudio.com/preview|1024|768|1

when you try to rotate from 1024x768, it will become 768x1024 and clicking the off-canvas

[2015-04-07 07:22] kressly commented on #326
Thanks

[2015-04-07 07:22] #326 closed

[2015-04-07 14:52] ChristianWeyer commented on #301
FYI: The expanding left sidebar issue currently is a blocker for even demo'ing it to customers.
A solution would be nice.

[2015-04-07 15:22] YasserHassan commented on #301
@ChristianWeyer I agree it's an important issue.
@almasaeed2010 there are a couple of templates out there similar to AdminLTE in the mini sidebar regard and they work smoothly. I don't think AdminLTE will have a problem if adopted their development approach to the mini sidebar.

[2015-04-08 05:26] gremerritt opened #328 "Dynamically adding options to sidebar"
Hi - first off I'm fairly new to both JS and jQuery so if this is something obvious, I apologize!

I'm trying to dynamically add items to the sidebar. My default menu is something like:
[code]

Then I added the following to the app.js:
[code]

This *almost* works... the newly created menu item ("New Trip") functions as I'd expect, (click it and it expands, click it again and it collapses.) However

[2015-04-09 23:34] almasaeed2010 commented on #301
## AdminLTE 2.1.0 Alpha has been released
- Fixed sidebar mini overflow issue.
- Fixed right sidebar + boxed layout issue
- Added demo menu to right sidebar by creating a third tab (one of @YasserHassan's suggestions and to provide responsive support as @kressly suggested)

**Release notes can be found in the [releases section] (https://github.com/almasaeed2010/AdminLTE/releases/tag/v2.1.0-alpha-1

[2015-04-09 23:39] almasaeed2010 commented on #327
Hello,
I tested it on the link you provided. I haven't found any issues. I think the text that the site puts on top of the template is what makes it unclickable. Try this [link instead](http://responsivetest.net/#u=https://almsaeedstudio.com/themes/AdminLTE/index2.html|1024|768|1).

[2015-04-09 23:41] almasaeed2010 commented on #328
Hello,
You are right. This is an issue when you reactivate the tree object. I will provide a fix with v2.1.0. Thank you for reporting this.

[2015-04-09 23:44] almasaeed2010 commented on #328
I have fixed and pushed this to master. When AdminLTE 2.1.0 is released, your method will work. You will no longer need to recall ```$.AdminLTE.tree(".sidebar")```. Thanks and again.

[2015-04-09 23:44] #328 closed

[2015-04-10 06:14] merdj commented on #327
Hi Abdullah,I tried the link you provided but it did work.going for the size of 1024x768 will play nicely,but when you rotate it,it will not work. the off-canvas button is not working.
I am using responsivetest.com as my testing for responsiveness of my app and it helps me a lot.
kindly look into it again please.
thank you so much. honestly, your work is great!

      From: Abdullah Almsaeed <noti

[2015-04-10 06:21] ronakjoshi90 opened #330 "Date Range Picker Not Working When Loaded Through Ajax"
Hi Team,

Im trying to load the date range picker through ajax request, but sadly the same is not working, it works only when it is rendered on page load.

please help

[2015-04-10 07:36] funyx commented on #330
you have to reinit the plugin:

//option defaults
var options = options || {};
        options.startDate = moment().startOf('day');
        options.endDate = moment().startOf('day');
        options.minDate = false;
        options.maxDate = false;
        options.dateLimit = false;

        options.showDropdowns = false;
        options.showWeekNumbers = false;
        options.timePicker = false;

[2015-04-10 07:41] funyx commented on #302
i suggest writing an ajax extend fn to reinit all plugins within the page on ajax call complete..

[2015-04-10 08:29] ronakjoshi90 commented on #330
hi,

i tried to initialize it on click of a button but now what is happening is that it doesnt open when we click for the first time after loading through ajax, on all subsequent click it works fine.

    $( '#abc' ).on( 'click', '.dateRangePicker', function (event) {
}

now is there any other way out ?

[2015-04-10 10:27] ThatCheck opened #331 "DateRangePicker and moment v 2.1.0"
There is a big problem with the version of moment.js in daterangepicker plugin. We need to update it at least at 2.9 for the .locale() function by example because its resulting of some conflict if you use bootstrap daterange picker and moment.js in the same page.

Or maybe use moment.js as a complete library in the theme.

[2015-04-10 10:40] funyx commented on #330
$.ajax({
url:'someurl',
data:'somedata',
success:function(response){
  //somecode
  //reinit the dateRangePicker
}
})

[2015-04-10 14:09] rainje opened #332 "Add Expand (fullscreen) / Compress box-widget"
Hi,

I added this widget to my website and it works great, I think this could be a nice small addition to the project ;)

![widgets](https://cloud.githubusercontent.com/assets/1025666/7089277/f48a29ba-df9a-11e4-945e-c979c05e2966.png)

I'm not doing a pull request since my way of doing it may not be the best.

[code]

[code]

[code]

[code]

[2015-04-10 14:14] adaniello commented on #332
:+1:

[2015-04-10 15:04] raistlinthewiz opened #333 "Fixed menu with boxed layout possible?"
I want to able to use a fixed main menu with the boxed layout.

Is this even possible?

[2015-04-10 20:47] almasaeed2010 commented on #327
I tested with multiple responsive test sites but I haven't encountered the error. I also tested it with chrome development tools and got the same result. The website you provided creates an overlay over the template so it makes all links unclickable.

[2015-04-10 20:50] merdj commented on #327
hello,
If that would be the case I will bypass this test using responsivetest.com. do you suggest any alternative?
I will close the ticket tomorrow.
thank you so much

      From: Abdullah Almsaeed <notifications@github.com>
 To: almasaeed2010/AdminLTE <AdminLTE@noreply.github.com>
Cc: merdj <merdjpattugalan@yahoo.com>
 Sent: Friday, April 10, 2015 11:47 PM
 Subject: Re: [AdminLTE] responsive test

[2015-04-10 20:51] almasaeed2010 commented on #331
moment.js is only used when the daterangepicker plugin is used so I don't think it would be beneficial to use it all over the template. However, I will update the version we are using to solve this issue. Thank you for reporting this. I will report back here once the updates have been made.

[2015-04-10 20:52] almasaeed2010 commented on #327
[Responsinator](https://www.responsinator.com/) is a popular choice.

[2015-04-10 20:53] almasaeed2010 commented on #327
It would be better if you test this url instead of preview page almsaeedstudio.com/themes/AdminLTE/index2.html

[2015-04-10 20:55] almasaeed2010 commented on #332
Looks interesting. I will look into it and add it to the todo list if I find it appropriate. Thanks for the contribution!

[2015-04-10 20:57] almasaeed2010 commented on #333
Unfortunately, you can't have fixed and boxed layouts mixed together. This is because when the sidebar is positioned as fixed, it tends not to respond to its container's relative position, which is the ```.wrapper``` in this case. I apologize for the inconvenience.

[2015-04-10 21:19] merdj commented on #327
hello again,
i tested with the link you provided responsinator,unfortunately it didnt work as expected.
goingto768x1024 remains the issue.
      From: Abdullah Almsaeed <notifications@github.com>
 To: almasaeed2010/AdminLTE <AdminLTE@noreply.github.com>
Cc: merdj <merdjpattugalan@yahoo.com>
 Sent: Friday, April 10, 2015 11:53 PM
 Subject: Re: [AdminLTE] responsive test (#327)

Responsinator is a p

[2015-04-10 21:21] almasaeed2010 commented on #327
Which device did you choose?
Please list the the information about your browser. It might be unresponsive in a specific browser.

[2015-04-10 21:27] merdj commented on #327
hello,
iPad portrait · width: 768px

i am testing it both using google and firefox. both is giving the same result.

      From: Abdullah Almsaeed <notifications@github.com>
 To: almasaeed2010/AdminLTE <AdminLTE@noreply.github.com>
Cc: merdj <merdjpattugalan@yahoo.com>
 Sent: Saturday, April 11, 2015 12:22 AM
 Subject: Re: [AdminLTE] responsive test (#327)

Which device did you choose?
Please list

[2015-04-10 21:33] almasaeed2010 commented on #327
I have an iPad at home. I'll test it on the actual device and get back to you.

[2015-04-10 21:35] merdj commented on #327
ok than, consider it an issue at this moment,while solution is still pending
best regards,
need to sleep too
      From: Abdullah Almsaeed <notifications@github.com>
 To: almasaeed2010/AdminLTE <AdminLTE@noreply.github.com>
Cc: merdj <merdjpattugalan@yahoo.com>
 Sent: Saturday, April 11, 2015 12:33 AM
 Subject: Re: [AdminLTE] responsive test (#327)

I have an iPad at home. I'll test it on the actu

[2015-04-10 22:21] gremerritt commented on #328
great, thanks for the quick response, and also for all the development that's gone into this!

[2015-04-11 23:17] #333 closed

[2015-04-11 23:18] #286 closed

[2015-04-11 23:18] #301 closed

[2015-04-11 23:19] almasaeed2010 commented on #302
Fixed in v2.1.0

[2015-04-11 23:19] #302 closed

[2015-04-12 00:36] raistlinthewiz commented on #333
Okay, too bad to hear as the navigation section really uses lots of default space :/

[2015-04-12 05:50] serhatculhalik opened #334 "Easy way to disable sidebar"
For one of my project I don't need sidebar. What is the best practice to remove sidebar and make the page full-width?

When I delete the HTML code, the removed sidebar remains white space.

[2015-04-12 06:07] almasaeed2010 commented on #334
Hi
You can use the top-nav layout. Look at layout options -> top nav. From the demo's sidebar

[2015-04-13 07:25] gabel opened #335 "Publish npm version?"
Beside bower, composer a.s.o I'd like to see a npm version available. Could you publish it to npmjs?

It will take only those 2 steps just to make it available.

* [x] Adjust package.json (invalid name, ...)
* [x] ```npm publish```

[2015-04-13 10:39] pakey opened #336 "why fixed and sidebar-mini can't used together"
when i used together,and sidebar change mini status，hover effect  can't trigger

[2015-04-13 14:59] almasaeed2010 commented on #336
The fixed layout uses ```overflow: hidden``` which prevents the sidebar mini from showing the links on hover. However, disable the use of SlimScroll and it should work.

[2015-04-13 15:02] almasaeed2010 commented on #335
I will look into this. Thanks for the suggestion.

[2015-04-13 15:03] #330 closed

[2015-04-13 15:05] almasaeed2010 commented on #327
Tested on iPad 2, iPad mini, iPhone 5 and iPhone 6 in portrait and landscape modes, the error did not occur. I appreciate your concern but I couldn't replicate the error.

[2015-04-13 15:05] #327 closed

[2015-04-14 06:00] gabel commented on #335
It's quite easy and helps people working via npm only... ;)

[2015-04-14 09:11] kressly commented on #301
Wow. Just saw this. @almasaeed2010 you are the best ! :+1:  :+1:

[2015-04-14 12:26] almasaeed2010 commented on #335
I agree. I will do this soon.

[2015-04-15 03:10] yajra opened #338 "Bower TypeError: Invalid Version: 2.1.0a"
Hi,

Having problem installing the template using bower and the errors are:

[code]

I think it's because of version `2.1.0a` is not a proper semantic version? Just a guess as I am not a bower expert. Maybe you should use `2.1.0-alpha` or just remove the `a` on `bower.json`?

Thanks!

[2015-04-15 08:31] gabel commented on #336
The problem is, if I use the app.js via require directly from the admin lte repo the configuration is already loaded and admin lte is initialized. But I don't want to create a copy of app.js just to change a configuration parameter.

A build version of the JS parts would be awesome.

[2015-04-15 08:46] marcus6431 opened #339 "Problem with hover dropdown menu on AdminLte"
Hi, i'm currently using your AdminLte template which is a good template for a beginner like me. But i currently having an issue with the hover dropdown menu when i apply the fixed layout.

Here are the screenshot on the sidebar before i applied the fixed layout:
![1](https://cloud.githubusercontent.com/assets/11958254/7155133/0cfc4590-e311-11e4-977a-e140d7369889.png)

Here are the screenshot on th

[2015-04-15 22:07] almasaeed2010 commented on #323
Added in v2.1.0
Thanks for the suggestion. Changes will be committed and push to the repo shortly.

[2015-04-15 22:07] #323 closed

[2015-04-15 22:09] almasaeed2010 commented on #338
Hello,
Thanks for reporting this. It should be fixed now.

[2015-04-15 22:09] #338 closed

[2015-04-15 22:10] almasaeed2010 commented on #336
@gabel this issue is being addressed. I am trying to add a mechanism that will allow you to configure AdminLTE before loading the app.js

[2015-04-15 22:10] #336 closed

[2015-04-15 22:13] almasaeed2010 commented on #339
This looks like an invalid markup of you sidebar menu. Please post your code here.

Also, please keep in mind that AdminLTE 2.1.0 is not yet ready for production and many things might change which would make upgrading from alpha to a production ready release more difficult on you. I encourage you to always use the latest stable release which can be found in the [releases section](https://github.co

[2015-04-15 22:14] #334 closed

[2015-04-15 22:27] almasaeed2010 commented on #331
Updated daterangepicker plugin. Changes are now available in master.

[2015-04-15 22:27] #331 closed

[2015-04-15 22:27] #324 closed

[2015-04-15 22:29] almasaeed2010 commented on #317
I don't want to change the markup currently so I am gonna address this issue in a future release. Your suggestion works, no doubt. So if anyone encounters this issue with a need of long titles, please use the solution provided above.

Thanks!

[2015-04-15 22:29] #317 closed

[2015-04-15 22:30] almasaeed2010 commented on #228
Okay, 28 days late but I wanted to say that I am gonna add this in our blog alongside with a few more implementations. Hopefully soon :-z

[2015-04-15 23:03] almasaeed2010 commented on #335
Done.

[2015-04-15 23:03] #335 closed

[2015-04-15 23:03] #311 closed

[2015-04-16 00:26] yajra commented on #338
Thanks, Issue fixed for v2.0.5. However, I was planning to use the master version (v2.1.0-alpha) on bower and I think it should be doable on master branch?

[2015-04-16 00:46] almasaeed2010 commented on #338
You should never use not production ready releases because I might change some of the code without any notice. However, with a production release such as v2.1.0, changes are permanent, supported and ships with a set of upgrade instructions.

[2015-04-16 01:01] yajra commented on #338
Yes I'm aware of that. But I will use the alpha version for my experimental project too :). And will be able to update that easily once the stable version is released.

[2015-04-16 01:11] marcus6431 commented on #339
Here are the css style code that i put on AdminLTE.css there in order to let my hover dropdown menu work.

/*3rd level sidebar menu */
ul{
    list-style: none;
}
.dropdown-menu{
    display: none;
}
.dropdown:hover{
    background-color: #00CCFF;
}
.dropdown:hover .dropdown-menu {
    display: block;
	left:217px;
	top:-2px;
}

Here are the html code for my dropdown menu:

 <aside class="left-side

[2015-04-16 01:48] almasaeed2010 commented on #338
I see what you mean. Does Bower provide a way to request a specific version like what composer does?

[2015-04-16 01:52] almasaeed2010 commented on #339
As I suspected, the markup is invalid. You are using ```nav dropdown``` when you should use ```treeview-menu``` and you shouldn't add ```<span>``` in your treeview submenu.

Here is an example of how it should look like:
[code]

I assure you, if you fix those issues, it will work. Also, please keep in mind that you can't use ```sidebar-mini``` with ```fixed``` at the same time.

[2015-04-16 01:55] yajra commented on #338
Yes, like composer, bower has `bower.json` and you can specify the version you want to use.

[code]

I think the issue was due to invalid semver as I stated above and I guess it should be fixed by using `2.1.0-alpha`. But I'm not really sure about this because i'm also new on bower.

[2015-04-16 01:56] almasaeed2010 commented on #339
One more thing, if you use the fixed layout, your dropdown won't work because the fixed layout requires ```overflow: none```. This disables any elements that are supposed to pop out to the left as in your example in the very first image. Your best bet is to stick with treeview if you must use fixed. Otherwise, you will have to use the regular layout.

[2015-04-16 02:01] almasaeed2010 commented on #338
I am new with bower too. I tried requesting 2.1.0-alpha but bower refused to install it. I am not sure about letting bower install an unstable version by default. I'll look into it tomorrow.

[2015-04-16 02:01] marcus6431 commented on #339
so what is the best way to use the sidebar-mini?

[2015-04-16 02:02] yajra commented on #338
Thanks! Btw, you also need to tag the new alpha release for it to work.

[2015-04-16 02:02] almasaeed2010 commented on #339
The best way is to use it without the ```fixed``` layout.

[2015-04-16 02:05] almasaeed2010 commented on #338
The tag is available. However, it is tagged as a prerelease so maybe that's why bower won't allow to request it.

https://github.com/almasaeed2010/AdminLTE/releases

[2015-04-16 02:07] marcus6431 commented on #339
Okay, if i wanted to change the hover menu to like inside the treeview. What should i change? Example: I click Pahang then Hover to his child Kuantan, then it will show up dropdown menu of Kiosk 36?

[2015-04-16 02:08] yajra commented on #338
Yes, but the committed `bower.json` on that release uses `2.0.1a` which is not a proper semantic version and does not exists on your tags which may have cause the issue.

[2015-04-16 02:09] almasaeed2010 commented on #339
Unfortunately, AdminLTE doesn't support that functionality. Sorry.

[2015-04-16 02:10] almasaeed2010 commented on #338
It was, true. Now however it uses 2.0.5 which is the latest stable version.

[2015-04-16 02:11] almasaeed2010 commented on #338
Do you mean within the alpha release itself?

[2015-04-16 02:12] yajra commented on #338
Yes, the release itself have an invalid `bower.json` which is why I suggested to add a new tag for it to work.

[2015-04-16 02:14] marcus6431 commented on #339
May i know if i change the sidebar to top nav , will it work for the dropdown?

[2015-04-16 02:15] almasaeed2010 commented on #338
That could be the cause. I will release 2.1.0-beta after testing it tomorrow and I will make sure it has the proper tags within bower.jon and the other similar files.

[2015-04-16 02:16] almasaeed2010 commented on #339
If you have the code that provides a multilevel dropdown then yes. It should work because the top-nav is a regular Bootstrao navbar.

[2015-04-16 02:16] yajra commented on #338
great! thanks and sorry for the hassles. :beers:

[2015-04-16 02:17] almasaeed2010 commented on #338
Not at all. Thank you for helping me figure out the issue.

[2015-04-16 02:20] marcus6431 commented on #339
so if i using a regular sidebar but i set the position:fixed, how may i add a scrollbar inside the sidebar myself? i had try to put overflow-y:auto but it won't work, any clue?

[2015-04-16 02:21] almasaeed2010 commented on #339
You'll have to remove the SlimScroll plugin and implement your own mechanism to enable scrolling.

[2015-04-16 02:22] almasaeed2010 commented on #339
In a nut shell, you will have to set a specific height to the sidebar (probably using JS) and then add overflow: auto.

[2015-04-16 02:23] marcus6431 commented on #339
May i know where to remove the slimscroll plugin?

[2015-04-16 02:23] marcus6431 commented on #339
i can't implement the slimscroll on the sidebar if i manually fixed the position?

[2015-04-16 02:25] almasaeed2010 commented on #339
SlimScroll will prevent overflow all together and that's why you are having the issue

[2015-04-16 02:27] marcus6431 commented on #339
So where to remove the slimscroll?

[2015-04-16 02:45] ivantcholakov commented on #323
I tried it, thank you.

[2015-04-16 02:49] almasaeed2010 commented on #339
In app.js you should disable anything that uses it and remove the slimscroll.js from your HTML

[2015-04-16 02:50] marcus6431 commented on #339
Tahsnk for the reply. But May i know where to change the height of the livechat box? because i had try to set the height of the livechat box,but it auto stractch back to it original size

[2015-04-16 04:13] alien3d opened #341 "checkbox"
You might add some extra code to sample email.

$(".checkbox-toggle").click(function () {
 var clicks = $(this).data('clicks');
  if (clicks) {
   $("input[type='checkbox']", ".mailbox-messages").iCheck("uncheck");
   $("#checkboxIcon").removeClass().addClass("fa fa-square-o");
} else {
  $("input[type='checkbox']", ".mailbox-messages").iCheck("check");
  $("#checkboxIcon").removeClass().addClass(

[2015-04-16 05:00] githubjeka commented on #317
Ok, Thanks.

[2015-04-16 05:25] gabel commented on #336
:+1:

[2015-04-16 10:08] jems1234 opened #342 "Model Dialog Box"
I am trying to Create Model Dialog box to for Confirmation but When I hit Button it show at the bottom.

Please give me code snipit for displaying Dialog in the center of the screen.
(when I click on delete button it appear with two Option Yes No)

Thanks in Advance.

[2015-04-16 10:43] chlebta commented on #249
@douglasduartetb did solved it ? I got the same issue

[2015-04-16 12:52] jplt001 opened #343 "How to Remove Layout Options?"
Guys how do remove Layout Option Settings?
Thank You in Advance, for those who can help me ..
![ahahaha](https://cloud.githubusercontent.com/assets/11808322/7181059/1359ed1a-e47a-11e4-8f27-06c9cfc77e6c.png)

[2015-04-16 14:12] yufieko commented on #343
delete <script src="dist/js/demo.js" type="text/javascript"></script>

[2015-04-16 14:13] venkatiiitb opened #344 "I am not able to see User dropdown menu on header"
Hi Have integrated all the files in your blank.html file but still not able to see user drop down menu in the header and no errors in the console. May i know am i missing something.

[2015-04-16 14:50] yufieko commented on #344
you can go to inspect element > network tab, refresh your page and see is there any error or missing file(s).

[2015-04-16 14:51] yufieko commented on #342
like this one ?
the delete button
[code]
the modal
[code]
and the javascript
[code]

[2015-04-16 15:34] almasaeed2010 commented on #339
If you mean the direct chat than it is customizable in AdminLTE.css. Find ```.direct-chart``` and customize it.

[2015-04-16 15:34] #339 closed

[2015-04-16 15:37] almasaeed2010 commented on #344
Do you mean the click doesn't work? Or you can't see it completely?

[2015-04-16 15:49] almasaeed2010 commented on #338
Ok so this command now works with beta
[code]

[2015-04-16 15:54] almasaeed2010 opened #345 "AdminLTE 2.1.0-beta"
# AdminLTE 2.1.0 is almost ready
Final testing should be done soon and a production release will be out in a few days. Please take some time testing the beta version and report any problems here. The live demo for the beta release can be found here:
https://almsaeedstudio.com/themes/AdminLTE-dev/index2.html

![screen shot 2015-04-16 at 11 50 41 am](https://cloud.githubusercontent.com/assets/151266

[2015-04-16 17:07] ber5ien opened #346 "Issue with scroll spy"
Hi Guys,

I assume it's probably only my issue ;)

My navigate does not stame on the same link after the page is refresh any advise?

Am I missing something?

  <body class="skin-blue" data-spy="scroll" data-target="#scrollspy">
      <aside class="main-sidebar">
        <div class="sidebar" id="scrollspy">

[2015-04-16 17:51] ThatCheck commented on #331
Thanks :+1: !

[2015-04-16 18:00] dbd5 opened #347 "Layout options not working"
Hello,

The documentation says as follows under Layout Options:
__
AdminLTE 2.0 provides a set of options to apply to your main layout. Each on of these classes can be added to the body tag to get the desired goal.

Fixed: use the class .fixed to get a fixed header and sidebar.
Collapsed Sidebar: use the class .collapsed-sidebar to have a collapsed sidebar upon loading.
Boxed Layout: use the class

[2015-04-16 23:43] yufieko commented on #345
when activate Fixed Layout, sub menu in left sidebar (in mini sidebar mode) is not showing
![lte2](https://cloud.githubusercontent.com/assets/7820512/7193567/cfc025a8-e4cc-11e4-95ea-77ed88756dec.png)

[2015-04-17 00:10] yajra commented on #338
Fixed thanks! however this is the command that I used for it to work. Command above does not work for me.

`bower install https://github.com/almasaeed2010/AdminLTE.git#2.1.0-beta`

[2015-04-17 02:35] Faryshta commented on #290
i agree with  @ifaniqbal.

if the example uses ion icons then the bower.json and composer.json file should add them as dependencies.

[2015-04-17 02:57] t3-jo commented on #339
Hello,,,i have a problem about this template.
In sidebar my drop-down menu won't run, can you help me?
thanks :D

[2015-04-17 02:59] t3-jo opened #348 "Side bar drop-down menu"
Hello,,,i have a problem about this template.
In sidebar my drop-down menu won't run, can you help me?
thanks :D

[2015-04-17 03:40] marcus6431 commented on #339
@t3-jo  ???

[2015-04-17 06:28] adaniello commented on #345
Seems only a issue about real-time previewing (javascript activation of feature) when you check the option: if you go in other pages with fixed layout, sub menu appears.

[2015-04-17 13:59] Roseno opened #349 "modal box does not work if you click off after open"
use: data-toggle="modal" data-target="#open-modal"  on a <a herf="#">Open Modal</a>

problem: when the modal opens (<div class = "modal fade" id = "open-modal" tabindex = "- 1" role = "dialog" aria-hidden = "true">) clicks outside the div's modal, (light gray part) <a herf="#">Open Modal</a> no longer works

[2015-04-17 14:00] #349 closed

[2015-04-17 14:02] Roseno opened #350 "modal box does not work if you click off after open"
use: data-toggle="modal" data-target="#open-modal" on a Open Modal

problem:
when the modal opens (```<div class = "modal fade" id = "include item-product-orc" tabindex = "- 1" role = "dialog" aria-hidden = "true">```) clicks outside the div's modal, (light gray part) ```<a her> opem modal </a>``` no longer works

[2015-04-17 16:35] almasaeed2010 commented on #348
Hi,
Please provide more information about your issue such as the code you are using and a screen shot of the issue. We'll try our best to help.

[2015-04-17 16:39] almasaeed2010 commented on #346
Hello,
You have to create a mechanism that will assign the active link the class ```active```.
All active links must have this form:
[code]

In case you are using treeview:
[code]

[2015-04-17 16:40] almasaeed2010 commented on #347
Change your body tag to:
[code]

[2015-04-17 16:45] almasaeed2010 commented on #350
Please post your full modal html without the content. Here is how it is supposed to look like:
[code]

[2015-04-17 17:22] ber5ien commented on #346
Many Thanks for info. I though that the scrollspy stuff will do this for me automatically. Should it?

<body class="skin-blue" data-spy="scroll" data-target="#scrollspy">
<div class="sidebar" id="scrollspy">

[2015-04-17 17:29] almasaeed2010 commented on #346
I use scrollspy in the documentation and I must say it is not convenient to create. It has many issues when integrated with AdminLTE.

Scrollspy works well if your app has only one page since it only detects elements that have an id attribute.

[2015-04-17 17:34] ber5ien commented on #346
Many thanks for info. I know what i am doing now.

Rafal Zdziech
http://uk.linkedin.com/in/amionrails
On 17 Apr 2015 18:30, "Abdullah Almsaeed" <notifications@github.com> wrote:

[2015-04-17 17:34] almasaeed2010 commented on #346
:+1:

[2015-04-17 17:34] #346 closed

[2015-04-17 18:49] Roseno commented on #350
perhaps the way I was calling the <div class = "modal fade" id="open-modal">
what is the best call to open the modal?
I open well
<a href="#"  data-toggle="modal" data-target="#iopen-modal">Open Modal</a>

recorded a video statement.
video: http://youtu.be/iMeQt-_qyEw    or    https://www.youtube.com/watch?v=iMeQt-_qyEw&feature=youtu.be&ab_channel=CarlosRoseno

[2015-04-17 20:47] Roseno commented on #350
was missing this script
<script type="text/javascript">
  $(document).ready(function() {

	$('#btn-delete-trig).click(function(){
		$('#modal-delete').modal('show');
	});
  });
</script>
now worked, thanks

[2015-04-17 22:33] #350 closed

[2015-04-18 00:09] kressly commented on #345
@almasaeed2010
Wonderful Thanks a lot for the light skins :+1:
Still checking and will get back to you.

[2015-04-18 20:31] douglasduartetb commented on #249
@chlebta I solved but i stop use this template to create my own, but you can try add all librarys again to see if you dont forgot anything

[2015-04-18 21:35] pratik60 commented on #345
@almasaeed2010 Hey, the sidebar options don't expand on the fixed layout, when the sidebar is collapsed. On a non-fixed layout, if you hover over the icon in the collapsed sidebar, the menu appears on the side. But not so on a fixed layout....That's a critical bug, na?

[2015-04-19 12:22] #347 closed

[2015-04-19 12:26] almasaeed2010 commented on #345
@yufieko @pratik60 since slimscroll prevents sidebar mini from behaving properly, I added a new feature that enables the sidebar to expand on hover. If both sidebar mini and fixed layout are enabled the option for expand on hover gets enabled automatically. Otherwise, you can enable this option from app.js. The new fix will be available for preview on the [dev-demo](https://almsaeedstudio.com/them

[2015-04-19 18:10] MaticConradi opened #351 "Invoice and print"
Hi! First I have to say that this is really awesome template. Probably the best of it's kind I've ever had.
Now... I'm exploring "Invoice" page. When I click print and a print dialog comes up, a little preview comes up. I can see that header and footer are filled with: webpage title, date, URL and page number. I would like to remove those from the page or add my own header/footer. Where can I acce

[2015-04-19 18:18] almasaeed2010 commented on #351
Hello,
Thanks for the compliment.
These are browser settings and cannot be controlled from the template. Depending on the browser and OS you are using, you can customize the settings to achieve your goal.

[2015-04-20 11:18] chlebta opened #352 "TimeLine inside timeline"
Hello, I need to create Comment system so I wanted to use the TimeLine And this what I got  :
![capture d ecran 2015-04-20 a 12 11 40](https://cloud.githubusercontent.com/assets/1204608/7229028/06112a08-e757-11e4-89c8-e8cddcfb1956.png)
As you can see the red Box is the main Response and in the blue part is reply on that response, I'm wondring how to add margin to top of the **Reply** part and make

[2015-04-20 13:39] ArunJain opened #353 "WebSite Loading Issue"
Hi,

Thanks for a very good responsive template , i have downloaded and running it in local machine it generally takes 25 secs to load each time on my local machine can any one suggest , how to get started and resolve this issue thanks in advance

[2015-04-20 15:41] almasaeed2010 commented on #353
Hello,

I'd remove the font dependency by removing the first line in the AdminLTE.css file and try again.
This line:
[code]

[2015-04-20 15:41] almasaeed2010 commented on #353
Which page is causing this issue? Or is it all pages?

[2015-04-20 16:20] defyjoy opened #354 "_all-skins.css is not included into bower.json main"
Skins are important part of bower automation while using with gulp and minification . So I think _all-skins.css file should be included into the bower.json main files.

[2015-04-20 16:21] pratik60 commented on #345
this is my

[code]

I am using the latest app.js from master, but the menu option aren't appearing when its collapsed?

The code while its collapsed

[code]

Any options which I had to change?

[2015-04-20 16:32] almasaeed2010 commented on #354
Hello

_all-skins.css is for demo purposes only. You should always pick your favorite skin and load that skin only.

[2015-04-20 16:44] almasaeed2010 commented on #352
Hi,

The timeline was never meant to be embedded in another timeline. I suggest you try Bootstrap's [media objects](http://getbootstrap.com/components/#media) for this purpose.

[2015-04-20 16:49] almasaeed2010 commented on #345
@pratik60 you shouldn't have to do anything else. Are you sure you are loading the newest app.js and css files?

If you have the latest files, try enabling the ```expandOnHover``` option in app.js.

[2015-04-20 17:48] defyjoy commented on #354
Ok so any skin I want I should pick the specific skin itself ? anyway to automate this ?

[2015-04-20 18:22] pratik60 commented on #345
Can't trace why it was happening, but seems to be fixed with the latest app.js.

But I don't like the expand on hover tbh, I really felt rather than expand on hover, the way it happens in non fixed layout is really good. But I'm guessing you ran into difficulties and weren't able to implement that for a fixed layout.

[2015-04-21 01:34] almasaeed2010 commented on #345
@pratik60 you are right. I mentioned before that the fixed layout implements a technique to make the sidebar scrollable which is preventing horizontal overflow to be visible. I tried multiple suggested solutions. None of them, however, worked. Thus, I had to implement a different approach. I agree that it might not be the prettiest, but I do think it serves the purpose correctly. Thank you for rep

[2015-04-21 01:40] #352 closed

[2015-04-21 01:42] almasaeed2010 commented on #354
Picking the skin you want will lessen the loading time on your page. I don't understand how can you automate this. Once you change it once, you don't have to change it again unless you want to use a different skin.

[2015-04-21 01:42] #354 closed

[2015-04-21 01:51] almasaeed2010 commented on #341
Thanks for the suggestion. Implemented in v2.1.0. Changes are available in master.

[2015-04-21 01:51] #341 closed

[2015-04-21 04:20] ivantcholakov opened #355 "A suggestion: Make loading states possible on arbitrary blocks"
As I can understand from the LESS file and documentation, loading states can be applied only on boxes (.box class). It would be better a special class (.overlay-wrapper or something similar) to be defined, so loading states possibly to be shown on arbitrary block elements that have this class.

[2015-04-21 04:57] ivantcholakov commented on #355
Overlay on the whole body might be useful too.

[2015-04-21 09:31] ArunJain commented on #353
After Downloading the template i opened the index.html page it normally takes like 22 secs to load each time on the browser and tried to open starter.html page also i faced the same issue.
Please help me out in this thanks in advance

[2015-04-21 10:10] gligoran commented on #291
@almasaeed2010 Thanks!

I was having the same problem with AngularJS views. For anyone having the same issues I solved it with this:

    $rootScope.$on("$viewContentLoaded", activateAdminLteBoxes);
    $rootScope.$on("$includeContentLoaded", activateAdminLteBoxes);

    function activateAdminLteBoxes()
    {
        $.AdminLTE.boxWidget.activate();
    }

I have this in a parent controller in rel

[2015-04-21 14:34] CharlesOkwuagwu opened #356 "Add a div height:100% inside the #content div"
I am Trying to use a leaflet map http://leafletjs.com/ in my content pane.

Please how can i get the map, or any div content to be 100% of the content pane?

[2015-04-21 15:03] Nightbr opened #357 "Add Hammerjs to handle touch gesture - suggestion"
Hi everyone,
I think It would be cool if **hammerjs** will be integrated in AdminLTE. For example, I enhanced the PushMenu with swipe event in order to close/open the menu with right and left swipe.

Here is the code to put in the `$.AdminLTE.pushMenu` function:
[code]

And after that, you can handle other touch action with hammerjs.
Take a look at http://hammerjs.github.io/

Regards

[2015-04-21 15:05] CharlesOkwuagwu commented on #233
This is still an issue.
Is there a way to set the content div height  to be 100% so that we can easily embed maps and other content that need to be 100% height?

[2015-04-21 15:42] CharlesOkwuagwu commented on #233
@kressly I have a blank page like so with #map height 100% and it works just fine. but once embedded in the template the #map height goes to 0px.

http://leafletjs.com/examples/mobile-example.html

This is the only css used:
`
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
`

[2015-04-22 10:12] Nightbr commented on #357
Note1: I used the jQuery plugin of hammerjs: http://hammerjs.github.io/jquery-plugin/
So, in my index.html, I had to add both library:
[code]
Note2: For the swipe menu example (see above), Swipe listeners prevents responsive table from moving right or left. So keep this in mind. In my case, I use dataTable-responsive plugins and all my tables are dataTables.

If you have any questions, don't hesit

[2015-04-22 10:20] jdriesen opened #358 "Datatables with Searchbox on top of each column"
Hi,

Great work and constantly improving. Love it !
I guess, for a lot of devs, it would be a great idea to implement (on datatables)
- column searching (filtering): i.e. a searchbox on top of each column
- an example of loading a huge amount of records (via JSON and ServerSide scripting.

Or maybe smb already has implemented this ?

PS.: Is there a reason why you didn't upgrade to datatables v1.1

[2015-04-22 14:05] jadubbz opened #359 "Fresh Install | UI is a Mess"
I just stumbled on your amazing software and installed it within a subfolder of my website. As I navigated to it, I found the Dashboard to be a mess. I searched around for similar problems, but found none. Any ideas or a link to point me in the right direction?
![screen shot 2015-04-22 at 9 02 23 am](https://cloud.githubusercontent.com/assets/12069120/7276357/aa9bb106-e8ce-11e4-85a0-a2289e07d3f6.p

[2015-04-22 17:40] almasaeed2010 commented on #359
It looks like something wasn't loaded correctly. Please check your browser's console for errors. It might be necessary to use a local server to make it work.

[2015-04-22 17:43] almasaeed2010 commented on #358
Hi Johnny,

The datatables feature you are requesting should be placed in their repository. I am honestly not very familiar with their development plans or how they handle suggestions.

I will update the version as soon as I get a chance. Thank you for reporting this!

[2015-04-22 17:47] almasaeed2010 commented on #353
To reduce the page load you can do some or all of the following:
1- Download font-awesome and ionicons and use them within your template instead of using a CDN.
2- Remove the font as I suggested in the first post.
3- If you are not using ionicons or font-awesome, you may remove them completely.

I hope this helps. I tested the template on a 20mbps and 8mbps internet connection and it didn't take t

[2015-04-22 17:48] almasaeed2010 commented on #355
I will look into it. Thanks for the suggestion!

[2015-04-22 17:51] almasaeed2010 commented on #356
Hi,

You will have to use javascript. Since the template depends on javascript to initiate the layout sizes, it won't be responsive to CSS. To have a div with a height of the window, you can use this code:

[code]

[2015-04-22 17:53] almasaeed2010 commented on #357
This could be a great feature if we can make it optional. The load time of the page will be affected because we are already using many plugins. I will look into it and get back to you as soon as I can.

[2015-04-22 18:44] jadubbz commented on #359
Just FYI, I noticed I originally downloaded AdminLTE2.zip from https://almsaeedstudio.com/themes/AdminLTE/documentation/index.html <https://almsaeedstudio.com/themes/AdminLTE/documentation/index.html>

I went back and looked around some more and decided to redownload from https://almsaeedstudio.com <https://almsaeedstudio.com/> and found that it was version AdminLTE-2.0.4.zip

I uploaded the zip t

[2015-04-22 19:24] YasserHassan commented on #358
@almasaeed2010, @jdriesen, I'm afraid such requests would not add value to AdminLTE because this is more of a development issue than a templating one. Examples of the requested features should be available on the plugin website and adding them to AdminLTE would not add any "templating" value to it unless there's a conflict between them that needs fixing, not to mention that the time spent on fulfi

[2015-04-22 19:36] jdriesen commented on #358
@YasserHassan : Thanks for your quick reply.
I perfectly understand your point.

(though, beside my questions, I still think it's worth upgrading to v1.10.6 of Datatables... :)
Kind regards,

Johnny

[2015-04-22 19:48] YasserHassan commented on #358
@jdriesen I agree. Upgrading in general is good especially if automated as it ensures an acceptable level of compatibility between the template and the new plugins versions.

[2015-04-23 01:51] almasaeed2010 commented on #359
This is odd. I downloaded the version you are using and it worked fine on Safari 8.0.5 (10600.5.17). Are you using MAMP, Vagarant or a different server? It should've worked out of the box simply by opening the index.html file. Try opening the starter.html file by double-clicking it. If it works fine on Safari, then the server you are using is somehow preventing these resources from loading. I'd ap

[2015-04-23 02:04] almasaeed2010 commented on #358
Upgraded to 1.10.6 and added extensions. Thanks!

[2015-04-23 02:04] #358 closed

[2015-04-23 02:07] #348 closed

[2015-04-23 02:07] #351 closed

[2015-04-23 02:07] #343 closed

[2015-04-23 02:08] #342 closed

[2015-04-23 02:13] almasaeed2010 commented on #303
I implemented a new mechanism to extend or edit the AdminLTE object. The new method allows you to create a global object called AdminLTEOptions that would extend the main settings. The [documentation](https://almsaeedstudio.com/themes/AdminLTE-dev/documentation/index.html#adminlte-options) will cover the how-to in the" javascript options" section. This is hasn't been tested yet. However, if it wor

[2015-04-23 02:13] #303 closed

[2015-04-23 02:13] almasaeed2010 commented on #305
Added the ability to collapse the box in all mailbox pages.

[2015-04-23 02:13] #305 closed

[2015-04-23 02:14] almasaeed2010 commented on #306
Integration is on progress. The first release of the premium collection will be around 5th of May.

[2015-04-23 02:14] #306 closed

[2015-04-23 02:15] almasaeed2010 commented on #307
Added all extensions including responsive to our datatables plugin folder. Thanks!

[2015-04-23 02:15] #307 closed

[2015-04-23 02:15] #345 closed

[2015-04-23 02:16] #344 closed

[2015-04-23 05:59] YasserHassan commented on #306
@almasaeed2010 I suggest you pay attention to Select2 in input groups both as making it an addon to other elements, and making other element addon to it, in append and prepend situations. This is an area where Select2 has no official style and handling this in your template would be a plus.

[2015-04-23 07:41] Soullivaneuh commented on #303
@almasaeed2010 great new feature but this solve not this issue at all.

The problem of this issue is that `app.js` have both options and auto-activation.

In an app like Ember, we have to activate those functionalities manually, it's why I proposed to separate the class with the app.

Can you please reopen this issue?

Thanks.

[2015-04-23 09:47] tiipiik commented on #359
Hi,
Thanks for this really awsome theme !
I have the same problem here, on a local install in Laravel5 (runing with artisan serve). Got the same errors in Firefox but not in Chrome.
![capture d ecran 2015-04-23 a 11 39 47](https://cloud.githubusercontent.com/assets/3844253/7294513/591a78ae-e9ae-11e4-9295-f1d2527ef34b.png)

[2015-04-23 11:13] jdriesen commented on #358
Hi, @almasaeed2010

Just for your information ...
I just grabbed your latest version via bower ... it seems that v. 1.9.4 of jquery.dataTables.js is still used.
As a double-check, I've download your ZIP file. That one has to latest version of jquery.dataTables.js (1.10.6)

I didn't check the other plugin versions...

Regards,

Johnny

[2015-04-23 13:49] almasaeed2010 commented on #303
@Soullivaneuh I can't change the structure of the main files without causing issues with backwards compatibility. It is crucial that we maintain a semantic versioning. The solution I implemented solves half of the problem but that's how far we can go without causing issues to our users. I apologize that I couldn't provide any further help.

[2015-04-23 13:52] Soullivaneuh commented on #303
I understand that, but I think my proposition wouldn't do any BC breaks and could be implement on 2.x: https://github.com/almasaeed2010/AdminLTE/issues/303#issuecomment-85481930

Yes I completely agree with that. But in anyway this issue must still be opened in order to solve it later, on a new major version for example.

[2015-04-23 13:57] almasaeed2010 commented on #303
Creating multiple files of app.js, as you suggested in the comment you referred to, would cause trouble when upgrading from 2.0.x to 2.1.x which breaks the value of semantic versioning.

[2015-04-23 13:59] almasaeed2010 commented on #358
@jdriesen the update was made to the master repo. The bower version won't be affected until the template has been fully tested on all supported browsers and a production increment has been released. Hopefully, we will soon see all updates from 2.0.x to 2.1.0 available in a production release.
Thanks.

[2015-04-23 14:06] almasaeed2010 commented on #359
@jadubbz any updates?

@tiipiik I am using the template with Laravel 5 and Homestead and at first I faced a few problems. Here is how I solved them:
- Make sure that all of the AdminLTE assets are available and accessible by placing them in the public directory and checking that all file permissions are set properly.
- Check your html (or blade) and make sure that all the resources are linked to c

[2015-04-23 14:14] tiipiik commented on #359
@almasaeed2010 Don't really know. I just find this => https://blog.mozilla.org/addons/2012/09/12/what-does-cant-access-dead-object-mean/
So maybe your code is not responsible of this issue, but a Firefox extension is (or maybe is) !

I'll try to deactivate estensions one after the other and tell you if it changes something.

[2015-04-23 14:20] almasaeed2010 commented on #359
I tested FF again just to make sure if any errors show up on my end but I didn't get anything. I then installed it on homestead but it also worked fine there. No errors at all. Please let me know if you find the issue that's causing this in your end so we address it here in case it is an error from our end.

![screen shot 2015-04-23 at 10 18 24 am](https://cloud.githubusercontent.com/assets/151266

[2015-04-23 14:43] tiipiik commented on #359
Well, this is quite strange.
After I deactivate all extensions and then reactivate all one by one, errors just "disappear". I also renamed dist/css/AdminLTE.min.css to dist/css/admin-lte.min.css, but it seems not to change anything, as I rename files like originals and errors are still not here.

If other people who have the same issue can try to deactivate all extensions and tell if it make the s

[2015-04-23 14:52] Soullivaneuh commented on #303
Not sure to understand.

Actually, users include default `app.js` or `app.min.js` file, right?

With my method, `app[.min].js` is a concatenation of `admin-lte.js` and `init.js`. So it's finaly the same as the actual.

Where is the breaking here?

[2015-04-23 16:33] almasaeed2010 commented on #303
I may have misunderstood. Are you suggesting that the end user will be able to load only app.js instead of all 3 files? If so, how can you achieve this?

[2015-04-23 18:26] Soullivaneuh commented on #303
Excatly. :+1:

I think we could for example, give source code on `admin-lte.js` for the class and `init.js` and auto-packing those on `app[.min].js` with a grunt-task.

We this solution we just have to be aware to compile the `app.js` before pushing a new stable version.

It's a fair transition until bumping to new major version (e.g. 3.x). Then, we could remove the `app.js` logic and tell user to

[2015-04-23 20:15] carlosabel125 opened #363 "The contents of a box when I collapse the menu does not fit the entire screen."
Hi, I am testing the AdminLTE2.0 template. In the area of work occupied a box in which I have defined a graph componet when I collapse the menu the box adjusts to the new size, however the graphic component does not fit the new size of the box .
How do I can get my graphic component fit the size of the box when I collapse the menu?
Thank you in advance ....
![1](https://cloud.githubusercontent.com

[2015-04-23 21:51] carlosabel125 opened #364 "Hello, The contents of a box when I collapse the menu does not fit the entire screen."
Hi, I am testing the AdminLTE2.0 template. In the area of work occupied a box in which I have defined a graph componet when I collapse the menu the box adjusts to the new size, however the graphic component does not fit the new size of the box .
How do I can get my graphic component fit the size of the box when I collapse the menu?
Thank you in advance ....
![1](https://cloud.githubusercontent.com

[2015-04-24 06:11] ajaykorat commented on #356
Hi,

I doesn't find the listing view with <div> tag in AdminTLE please try to help me if you are getting my issue.

[2015-04-24 13:32] carlosabel125 opened #365 "The contents of a box when I collapse the menu does not fit the entire screen"
Hi, I am testing the AdminLTE2.0 template. In the area of work occupied a box in which I have defined a graph componet when I collapse the menu the box adjusts to the new size, however the graphic component does not fit the new size of the box .
How do I can get my graphic component fit the size of the box when I collapse the menu?
Thank you in advance ....
![1](https://cloud.githubusercontent.com

[2015-04-24 21:59] jadubbz commented on #359
I apologize…my email at work is not working correctly. Just checking this at home and found these messages. I’ll look at these when I get a chance this evening and get back with you. I apologize.

Jacob

On Apr 23, 2015, at 9:43 AM, Yohann Decharraud <notifications@github.com> wrote:

Well, this is quite strange.
After I deactivate all extensions and then reactivate all one by one, errors just "di

[2015-04-25 03:01] jadubbz commented on #359
I apologize…my email at work is not working correctly. Just checking this at home and found these messages. I’ll look at these when I get a chance this evening and get back with you. I apologize.

Jacob

On Apr 23, 2015, at 4:47 AM, Yohann Decharraud <notifications@github.com> wrote:

Hi,
Thanks for this really awsome theme !
I have the same problem here, on a local install in Laravel5 (runing wit

[2015-04-26 22:38] zvik2004 opened #369 "AngularJS implementation"
Hi,
I really like the AdminLTE!
Are there any thoughts to have an AngularJS implementation for it?

Thanks,
Zvi

[2015-04-27 03:08] marcus6431 commented on #339
@almasaeed2010  Hi there, Good day to you.
I can't find the .direct-chart that u mention in AdminLTE.css there.

I wanted to change the height of this content, but everytime i try to change it alway auto scratch to its normal size.
![1](https://cloud.githubusercontent.com/assets/11958254/7341077/06bab502-ec50-11e4-9034-d7aea94a035a.PNG)

I need to change it become longer. Is that possible?

[2015-04-27 08:34] iaesaudi opened #370 "Mini sidebar issue on safari"
There is an issue with **Mini Sidebar** on safari 8.0.5 which make menu tabs have a trace after moving out from them and they will stay like this and they are non functional.

Here is an image for it:
![minisidebar_safari](https://cloud.githubusercontent.com/assets/11377260/7344030/d6154fbc-ecd0-11e4-86ea-7ce91828c554.jpg)

[2015-04-27 11:19] Karmalakas opened #371 "Wrong version"
On website it says version is 2.0.5, but download zip is 2.0.4

[2015-04-28 23:42] rafael-renan-pacheco opened #373 "Sidebar + Fixed + Resize = Bug at the bottom"
Hello!

In the 2.1.0-beta, the following steps leads to a missing area at the sidebar's bottom:

1: Load the dashboard in a maximed window.
2: Click on the "Fixed" layout configuration.
3: Resize the window to a resolution like a smartphone.
4: Restore to the maximed state.
5: Look at the bottom of the sidebar. Something around 50px went missing.

![sidebar with fixed layout](https://cloud.githubu

[2015-04-29 10:52] STCGroup opened #374 "RTL Support"
Hello,

I would like to use a theme template, but my question (is it support an RTL),  I need to build a dashboard for two language (RTL, LTR) and can i navigate between them .

Can you please add us a demo, or Let me know if this feature added into theme automatically when i use it , and can you share us a snapshot for that if available .

Best Regards,

[2015-04-29 11:39] YasserHassan commented on #374
RTL is not officially supported in AdminLTE but @lxsameer is working on it in a fork and I think he has reached good results. You can refer to #23 and #313 for more details.

[2015-04-29 12:05] athenaneo opened #375 "Scroll Bar problem"
Hello!

In the 2.0.3, the following steps leads to block scrolling  sidebar's

1: Load the dashboard in a maximed window.
2: Click on the "Fixed" layout configuration.
3: then scroll with keybord up and down arrow key ,its not scrolling

[2015-04-29 21:57] almasaeed2010 commented on #363
Hello,

Sorry for the delay. What kind of component is it? For example, is it a ```<table>``` or a ```<div>```?

In general you need to set the width via CSS to 100% and it will automatically take the width of its container.
[code]

[2015-04-29 21:57] almasaeed2010 commented on #364
duplicate.

[2015-04-29 21:57] #364 closed

[2015-04-29 21:57] almasaeed2010 commented on #365
Duplicate.

[2015-04-29 21:57] #365 closed

[2015-04-29 21:59] almasaeed2010 commented on #369
Hello,

Unfortunately I am not aware of an existing AngularJS implementation. I don't think it is hard to convert it to AngularJS if you really must. Thanks.

[2015-04-29 21:59] #369 closed

[2015-04-29 22:01] almasaeed2010 commented on #370
Confirmed.

[2015-04-29 22:01] almasaeed2010 commented on #370
I will look into it as soon as possible. This is extremely odd.

[2015-04-29 22:02] almasaeed2010 commented on #371
Thank you for reporting this! I will update the version asap. :+1:

[2015-04-29 22:02] #371 closed

[2015-04-29 22:06] almasaeed2010 commented on #371
Fixed.

[2015-04-29 22:09] almasaeed2010 commented on #373
Hello,

The issue is caused by Slimscroll, which apparently is not being removed completed when deselecting the fixed layout. This shouldn't be an issue in production since the demo menu should not be available to the end user. Nonetheless, I will look into it since I know what is causing the issue.

[2015-04-29 22:11] almasaeed2010 commented on #374
RTL is a work on progress and might be available officially with the next release. I can't promise any specific time frame or that I will for sure implement it. As @YasserHassan suggested, you may find different implementations of it around Github. Thanks.

[2015-04-29 22:11] #374 closed

[2015-04-29 22:14] almasaeed2010 commented on #375
Hello,

Which browser are you using? On chrome this is not an issue.

[2015-04-29 22:17] #353 closed

[2015-04-29 22:18] almasaeed2010 commented on #356
@ajaykorat I don't understand your issue. Please open a new issue with full explanation of the problem. Thanks.

[2015-04-29 22:18] #356 closed

[2015-04-29 22:20] almasaeed2010 commented on #359
Tested on all browsers but couldn't replicate the issue yet. If there is no progress on this, I will have to close the post. Thank you.

[2015-04-29 22:52] rafael-renan-pacheco commented on #373
Hello Abdullah!

This issue also exists using the starter page, which will be available to the end user.

I first discovered this problem by adding itens to the starter page sidebar menu, and then I did the same steps in the demo menu to reproduce the problem and open this issue.

Best regards.

[2015-04-29 23:04] rafael-renan-pacheco commented on #375
Hello!

Using keyboard up/down scrolls the main content up/down, not the sidebard if fixed layout is activated. I think that is the issue athenaneo reported.

At https://almsaeedstudio.com/themes/AdminLTE-dev/index2.html the problem can be reproduced.

I'm using Chrome 42.

Best regards.

[2015-04-29 23:07] danaia opened #376 "Collapsable left and right sidebar"
Like to have a collapsable left and right sidebar. Is this possible? How can I do it?

[2015-04-29 23:12] almasaeed2010 commented on #373
The starter template does not have the demo menu (the right sidebar demo config section). The ```starter.html``` which can be accessed after downloading the package, contains the actual starter template. You can take a look here for an example https://almsaeedstudio.com/themes/AdminLTE-dev/starter.html. I don't mean to say that this isn't an important issue but I'd like to point out that the ```de

[2015-04-29 23:15] almasaeed2010 commented on #375
@rafael-renan-pacheco that's correct. This would be an issue caused by the SlimScroll plugin. I think it is time for an upgrade since SlimScroll is causing multiple issues other than this. I will look into it and see if I can find a better plugin that serves a similar purpose but better. Thanks!

[2015-04-29 23:15] almasaeed2010 commented on #376
This is not a feature that AdminLTE provides. I apologize for the inconvenience.

[2015-04-29 23:25] almasaeed2010 commented on #370
The issue is being caused by ```overflow: visible;``` on the menu's links. If I remove the property and modify it to work properly, another issue arises, which is what we discussed in issue #209 in this [comment](https://github.com/almasaeed2010/AdminLTE/issues/301#issuecomment-89559523). I will look further into it when I have time.

[2015-04-30 00:16] almasaeed2010 opened #377 "Control sidebar on Safari causes horizontal scroll"
The control sidebar (right sidebar) causes horizontal scroll on Safari 8.0.5. All other browsers including IE9 function properly except for Safari.

This brings up two bugs that are only applicable to Safari 8.0.5. The first is the sidebar-mini issue #370. The second is this.

![screen shot 2015-04-29 at 8 15 30 pm](https://cloud.githubusercontent.com/assets/1512664/7404118/81caadd4-eeac-11e4-951d

[2015-04-30 00:23] rafael-renan-pacheco commented on #373
Hello!

But I am using the starter.html without the demo menu. I just set the fixed layout hardcoding the starter.html page, like adding the class "fixed" to the body tag, and enabling slimscroll, since I'm using fixed layout.

I opened this issue using the demo as example so you could reproduce the problem with ease.

Best regards.

[2015-04-30 00:27] almasaeed2010 commented on #373
Ok. Sorry for the misunderstanding. I guess the screenshot got me a bit confused. Currently I am working on issues #370 and #377, which have more significant errors. Once I am done with them, I will try to figure out what's causing this issue. Thank you for your patience!

[2015-04-30 00:33] rafael-renan-pacheco opened #378 "AdminLTE Custom Tabs - First tab deactive problem"
Hello!

When using "AdminLTE Custom Tabs", the tab's title move to the right by 1px.

To reproduce the problem:

1: Find the "AdminLTE Custom Tabs" in "UI Elements > General"
2: Click on "Tab 2" (Tab 1 was in active mode)
3: "Tab 2" and "Dropdown" title will move to the right by 1px.

This problem appears in stable and 2.1-beta release.
This problem appears even without tab content (just UL and LI

[2015-04-30 00:36] almasaeed2010 commented on #378
Confirmed.

Thank you for reporting this! Will get to it soon.

[2015-04-30 12:22] iaesaudi opened #379 "Disable onClick auto close for nav menu"
I just wanna ask about how to disable automatic close for dropdown menu on nav bar for specified menu item like below picture:
![autoclose-issue](https://cloud.githubusercontent.com/assets/11377260/7412556/a21d5f14-ef4c-11e4-8b24-bcf3aaf6c42a.jpg)

[2015-04-30 15:02] carlosabel125 commented on #363
Hi thanks for answering :
I have a container that is a < div > I give the width: 100% ; div and it fits well , but within that div I have a DevExpress component and this no one ASPxDASBOARD adjusts itself to my container < div > . In the Safari browser if it fits me perfectly but the other is not adjusted.
Thank you very much friend and I hope I can help. regards

[2015-04-30 16:08] almasaeed2010 commented on #379
This is a Bootstrap related issue. The only way to do that is via javascript:
[code]

[2015-04-30 17:02] iaesaudi commented on #379
Thanks for replying and help Abdullah :)

[2015-04-30 17:07] almasaeed2010 commented on #379
No problem. Did it work?

[2015-04-30 19:48] rashed-zaman opened #380 "Active menu de active when i collapse parent ment menu"
![adminlte preview almsaeed studio](https://cloud.githubusercontent.com/assets/8373115/7421133/ddf5af1c-efa3-11e4-82ed-dea871e0c35c.png)

[2015-04-30 19:50] peixinhu130 commented on #302
Sorry for the English, but tested the 2.1.0 version and still does not work

[2015-04-30 19:51] rashed-zaman commented on #380
Here Dashboard v2 is active but when I collapse dashboard and again re open Dashboard v2 is De-active but i am still on same page. how i fixed this issue ??

[2015-04-30 19:57] almasaeed2010 commented on #380
This is related to the app.js. I can't currently fix it because it will require modification to the main script and thus enforcing html markup change on the users. Therefore, breaking semantic versioning rules.

You can modify the script to fit your needs. In particular, you need to modify the ```$.AdminLTE.pushMenu.activate``` function.

[2015-04-30 20:01] rashed-zaman commented on #380
please guide me how i fixed it $.AdminLTE.pushMenu.activate function.

where I found $.AdminLTE.pushMenu.activate function in app.js. ??

[2015-04-30 20:04] rashed-zaman commented on #380
I believe its related
/* Tree()
 * ======
 * Converts the sidebar into a multilevel
 * tree view menu.
 *
 * @type Function
 * @Usage: $.AdminLTE.tree('.sidebar')
 */
$.AdminLTE.tree = function (menu) {

[2015-04-30 20:09] rashed-zaman commented on #380
I believe its related
/* Tree()
 * ======
 * Converts the sidebar into a multilevel
 * tree view menu.
 *
 * @type Function
 * @Usage: $.AdminLTE.tree('.sidebar')
 */
$.AdminLTE.tree = function (menu) {

[2015-04-30 20:09] #380 closed

[2015-04-30 20:57] germansak opened #381 "Ajax sidebar question"
Hi, first of all congratulations for this excelent framework! It´s awesome.
I have a multilevel treeview on my sidebar. Is it possible to load subtrees via Ajax when I click on a node? I made a lot of sql processing to build it and it affects performance when I load the page for the first time.

Any help or hint is very much appreciated

Thanx
German

[2015-04-30 21:48] psxsxm opened #382 "Dropdown Menu does not work if i create it with jquery"
Hi, my english is so bad, but well, when i try create it with jquery using ajax to set a post to a php file where i create a variable where i mark up the entire html code for the menu like this :

in my menu i got this

[code]
this is my .js
[code]
And this is my php file
[code]

this works fine it create the menu and its ok, but when i click the menu the dropdown doesnt work!

but if i directly p

[2015-04-30 21:54] iaesaudi commented on #379
Yeah it worked but the button group onside it not working since we disabled the event from running in the whole div :sweat_smile:.
I'm working on this [solution](http://stackoverflow.com/questions/25089297/twitter-bootstrap-avoid-dropdown-menu-close-on-click-inside#answer-25196101)

[2015-04-30 22:05] iaesaudi commented on #377
This bug also happens on iOS safari (Tested on iOS 8.2)

[2015-04-30 22:42] peixinhu130 opened #383 "Tooltip Ajax"
Sorry for the English, I try to describe my suggestion. In version 2.1.0 app.js on line 167, use -
if (o.enableBSToppltip) {
    $ ('body'). tooltip ({
         selector: o.BSTooltipSelector
     });
}

to load tooltip for AJAX.

thank you

[2015-04-30 23:26] almasaeed2010 commented on #382
[code]

That should fix your issue.

The only other way to do it is to lest your ajax return the link titles only without the html and let jQuery create the elements for you. But it is a lot more work than one line of code.

[2015-04-30 23:37] almasaeed2010 commented on #379
I am actually working on a custom mega menu for the premium collection. Thanks for sharing the solution!

![screen shot 2015-04-30 at 7 31 11 pm](https://cloud.githubusercontent.com/assets/1512664/7424523/3b68c1ae-ef70-11e4-9f02-6988fffbc1d1.png)

[2015-04-30 23:37] #379 closed

[2015-04-30 23:42] almasaeed2010 commented on #377
It happens on all Safari browsers, unfortunately. I am still not sure what the issue is. How come the exact same strategy works for the left sidebar but not the right one? I don't understand!

[2015-05-01 00:05] almasaeed2010 commented on #381
Everything is possible. Please refer to issue #382.

The best approach would be to let your server return a list of links and their titles and allow jQuery to render the information into HTML elements.

Example server response in json:
[code]

Example jQuery render function:
[code]

You get the picture.

[2015-05-01 00:10] psxsxm commented on #382
Hi and thanks for the reply

$.AdminLTE.tree(); this cant solve my issue, in the console shows :

[2015-05-01 00:12] almasaeed2010 commented on #382
Did you place your code after loading the app.js file?

[2015-05-01 00:17] psxsxm commented on #382
Yes i do but i found the correct solution using this : $(".treeview").tree(); i found it in app.js trying to modify some code there ... but it works fine ! Thank you very much

[2015-05-01 00:21] almasaeed2010 commented on #382
Oh I am sorry. It was supposed to be ```$.AdminLTE.tree('.sidebar')```. I am not sure why your way works though. You should test it on all browsers that you'd like to support. Thanks!

[2015-05-01 00:21] #382 closed

[2015-05-01 13:11] germansak commented on #381
Awesome!! That's what I've been looking for. Thanks again Abdullah for your response and for this great framework
Cheers
Germán

[2015-05-01 13:11] #381 closed

[2015-05-01 20:02] eothein opened #390 "Content in content view cut off"
Dear all

First and foremost what a great project! This makes making a front-end web site so much easier. I do have a question though:

I'm using the template with a side bar navigation, but the problem is that when the navigation is expanded, the right part of the content is cut off for some space. Collapsing the menu fixes this, but I want to be able to work correctly with the menu expanded. Is

[2015-05-02 04:27] athenaneo commented on #375
thank you for helping me, Kindly requested you to upgrade the plugin and inform us.

[2015-05-03 06:44] STCGroup commented on #374
Thank you .

[2015-05-03 14:05] almasaeed2010 commented on #390
Hello,

I don't understand the issue. Could you provide a screenshot of the problem please?
Thanks.

[2015-05-03 19:23] digicp opened #392 "Menu overflow"
Is this a JS or CSS error? This is only on mobile format.

![adminlte-menu-bug-mobile](https://cloud.githubusercontent.com/assets/9464048/7446486/8f94696a-f1da-11e4-9cc3-42d22cf0610a.png)

[2015-05-03 19:25] almasaeed2010 commented on #392
If this code works then it is css. Try adding this to your css and let me know if it works:
[code]

[2015-05-03 19:28] digicp commented on #392
it doesn't work. I also tried:

.left-side {
  z-index: 1;
}

[2015-05-03 19:35] almasaeed2010 commented on #392
Without access to the dashboard, I am not sure what the error could be. Apparently, you are using and old version of AdminLTE. Have you considered upgrading?

[2015-05-03 19:37] digicp commented on #392
When I will upgrade, what kind of files do I need to replace? Only the css and JS, or do I also need to re-create all the pages?

[2015-05-03 19:41] almasaeed2010 commented on #392
There are a few changes to the HTML but they are minor changes and easily replaced. Here is the [upgrade guide](https://almsaeedstudio.com/themes/AdminLTE/documentation/index.html#upgrade). Please upgrade to a stable production version such as 2.0.5 instead of using any alpha or beta versions. You can download the latest releases from [here](https://github.com/almasaeed2010/AdminLTE/releases).

[2015-05-04 13:31] #392 closed

[2015-05-05 01:56] almasaeed2010 commented on #377
Fixed.

[2015-05-05 01:56] #377 closed

[2015-05-05 02:01] almasaeed2010 commented on #370
Fixed in master. I will release beta-2 soon. Thanks.

[2015-05-05 02:01] #370 closed

[2015-05-05 02:02] almasaeed2010 commented on #390
@eothein have you resolved your issue?

[2015-05-05 02:09] almasaeed2010 commented on #373
I am not sure what is causing the issue. Apparently resizing the window resolves it. But since we can still scroll the sidebar even with the missing part and make all elements visible, then this isn't a big deal. In real life, I don't think users will purposely resize the window from that much. In the case of a tablet, this issue doesn't occur on iPad 2 when transforming from landscape to portrait

[2015-05-05 02:44] rafael-renan-pacheco commented on #373
Hello Abdullah!

You are right, this is a very particular and rare bug to happen in real life. Even if the user does resize the window that much to fire the bug, it may even not notice the problem.

I thought that since the stable release don't have this problem, solve this one could be easy. But if it isn't, you can set this as low priority or close the issue.

Best regards,
Pacheco.

[2015-05-05 02:47] almasaeed2010 commented on #373
I am gonna have to let this be for now until I get the time to look into it. Currently I am concerned about releasing the new features as soon as possible. Thanks for the contribution!

[2015-05-05 02:47] #373 closed

[2015-05-05 02:56] almasaeed2010 commented on #378
Fixed in master. Thanks again!

[2015-05-05 02:56] #378 closed

[2015-05-05 02:57] #376 closed

[2015-05-05 03:14] prionkor opened #393 "Not available via Bower?"
Trying to install it via bower but it shows error `ENOTFOUND Package AdminLTE not found`.

[2015-05-05 03:15] almasaeed2010 commented on #383
Done. Thanks for the suggestion.

[2015-05-05 03:15] #383 closed

[2015-05-05 03:15] #393 closed

[2015-05-05 03:15] almasaeed2010 commented on #393
You need to use the name admin-lte. Please refer to the installation section on the main page.

[2015-05-05 03:18] #359 closed

[2015-05-05 03:22] almasaeed2010 commented on #375
Changing the plugin would be a problem since many users already integrated it into their version of AdminLTE. We follow the rules of semantic versioning, which does not allow for major changes unless a major release has been issued. In our case, this would only be possible if we release AdminLTE 3.0, which we are a long way from. I appreciate that you have reported this issue, and apologize for no

[2015-05-05 03:22] #375 closed

[2015-05-05 03:23] prionkor commented on #393
sorry, my mistake. I was just looking at your bower.json file.

[2015-05-05 03:25] almasaeed2010 commented on #363
I am not sure if I can provide more help without access to the dashboard. It would be hard for me to analyze your implementation without inspecting it.

[2015-05-05 03:27] almasaeed2010 commented on #357
I am gonna keep this in mind. For now, I am not going to implement it but I will reconsider with a future release of AdminLTE. I greatly appreciate your suggestion and apologize for not being able to assist you any further.

[2015-05-05 03:27] #357 closed

[2015-05-05 08:51] eothein commented on #390
Dear Almasaeed

I'm using Yii2 as the framework and  I had an extra <div> in which I generated my html code, but it seems this was not allowed and needed to only use the folowing code for content.

<section class="content body">
                        <?= $content ?>
</section>

What happened was that when resizing the screen, and when using the navigation side bar, a part of the right side of th

[2015-05-05 08:51] #390 closed

[2015-05-05 09:12] YasserHassan commented on #390
@eothein just to make sure you are searching in the right place, if the original AdmiLTE version you downloaded is displayed properly as-is on your system then the problem is a result of fitting your code with it. You need to adjust your Yii2 application so it doesn't break the template.

[2015-05-05 09:18] digicp opened #394 "AdminLTE latest - form didn't recieve input checkbox"
Hi there, is there a possibility that AdminLTE will not post this code:
<input type="checkbox" name="checkboxdata" value="1">

Input type text etc is posted and received:
<input type="text" name="textdata" value="value">

Is this a known problem?

[2015-05-05 13:43] almasaeed2010 commented on #394
Hello,

Post as in send the information to the server?

[2015-05-05 13:45] digicp commented on #394
No, in a HTML form that submit's data to the database

[2015-05-05 13:47] almasaeed2010 commented on #394
AdminLTE doesn't deal with backend issues. If your server is not receiving data, it is possible that you setup your form incorrectly. If you post your form here, I may be able to check the markup.

[2015-05-05 13:52] digicp commented on #394
I disabled iCheck and now it works fine...

$(function () {
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });

    //When unchecking the checkbox
    $("#check-all").on('ifUnchecked', function (event) {
      //Uncheck all checkboxes
      $("input[type='checkbox']", ".u

[2015-05-05 14:00] almasaeed2010 commented on #394
iCheck deals with input a bit differently. Were you submitting your form via ajax?

[2015-05-05 14:30] digicp commented on #394
I don't submit via ajax

[2015-05-05 14:34] almasaeed2010 commented on #394
I will look into the iCheck plugin soon. Thank you for reporting this!

[2015-05-05 14:34] #394 closed

[2015-05-05 14:41] almasaeed2010 commented on #228
Done.

[2015-05-05 14:41] #228 closed

[2015-05-05 14:46] almasaeed2010 commented on #355
Done in master. Thanks again.

[2015-05-05 14:46] #355 closed

[2015-05-05 14:47] almasaeed2010 commented on #332
Do you think it is possible to add transitions to the plugin to make it animate through states?

[2015-05-05 16:17] iamthestreets opened #395 "Where are the .less files?"
Hi - Forgive me if this is right in front of my face, but I do not see any of the less files. Where can I find these files?

[2015-05-05 16:45] almasaeed2010 commented on #395
Hi

They are in the build folder

[2015-05-05 17:36] rainje commented on #332
It should be, not sure if it's worth it though.

[2015-05-05 18:46] SpawW opened #396 "Print issues"
Hi,

  Currently I are creating a GPL software using AdminLTE as base interface.
  I want to create a way to print all pages with a specific header and footer repated on every page.
  I try to make this using the examples and some online documentation... but not work.
  Someone can help-me ?

[2015-05-05 19:41] Reconix commented on #396
you could give this a try
https://docs.angularjs.org/api/ng/directive/ngInclude

[2015-05-05 19:59] YasserHassan commented on #332
@almasaeed2010 it would be nice also to include an option to expand the page to a full-screen mode.

[2015-05-05 20:11] SpawW commented on #396
Reconix, tanks for answer...
I look this url but not found info about print tips.

[2015-05-05 20:24] ivantcholakov commented on #396
HTML (within the common template):

[code]

CSS:

[code]

[2015-05-05 20:39] SpawW commented on #396
Hi ivantcholakov, very thank you for you help.

  With this codes solve the problem... for the first page.
  When the page prints requires two A4 pages (for example) the header is not repeated. And I need it to recur every page (have a header on every page).

![captura de tela de 2015-05-05 17 38 52](https://cloud.githubusercontent.com/assets/3518964/7482409/9f93d750-f34d-11e4-8f8f-cab324b9a81d.pn

[2015-05-05 22:15] ivantcholakov commented on #396
It is not that easy, indeed.

I've found two generalized ways:

* Using position: fixed; - Works more or less on Firefox, but not for WebKit-based browsers, it is not good eventually:

[code]

* The second way - see this article http://www.smashingmagazine.com/2015/01/07/designing-for-print-with-css/ The specifications mentioned there allow what you want, but I have not checked browser support.

[2015-05-05 22:26] ivantcholakov commented on #396
https://www.servoyforge.net/boards/2/topics/215?r=220

[2015-05-06 00:37] SpawW commented on #396
Hi ivantcholakov,

   With the code works for first page. I try with the 2 first ways... and no one put the header to each page.

   The last one works but... if I use a tables instead DIV... I not will loose the responsive feature ?

[2015-05-06 00:58] ivantcholakov commented on #396
I can't understand the last question.

[2015-05-06 10:08] SpawW commented on #396
Ivan,
   The AdminLTE is responsible and use DIV tags (not TABLE tags).
   So, if I use the last URL (https://www.servoyforge.net/boards/2/topics/215?r=220) will work with tables (because TR and TD) but, I think, not will work for DIVs :(.

[2015-05-06 10:43] YasserHassan opened #397 "Enhancement: Fix tabs in right sidebar"
Currently, the whole right sidebar tabs (tab headings and contents) are scrollable. This means when a tab with large contents is open and the sidebar is scrolled up, the tab headings become invisible and opening another tab requires the user needs to scroll down to show the hidden tabs first. It would be better for usability if the tab contents only are scrollable while the tab headings are fixed

[2015-05-06 10:46] ivantcholakov commented on #396
You mean
[code]
I think you can put there whatever HTML you want.

For printing maybe the grid should not be responsive. TODO for testing something like this:

[code]

I will play to make a good looking test page.

[2015-05-06 11:10] SpawW commented on #396
Ivan,
  Maybe... If you want and can... I can give you access to my test page to you see what I are creating and what is the problem.
  I try to use your tips... but the browser simply not show the @top-left info.

[2015-05-06 13:44] ivantcholakov commented on #396
Wait, I am working on a common demo.

[2015-05-06 13:48] SpawW commented on #396
Ok Thanks.
(a sample working with header for tables)
http://jsfiddle.net/jaap/7ZGVv/2/

[2015-05-06 13:53] ivantcholakov commented on #396
Showing repetitive thead and tfoot of a table on printing is trivial. I want to print an arbitrary HTML content with repetitive header and footer this is the tricky thing.

[2015-05-06 14:13] ivantcholakov commented on #396
@top-left and etc. is likely not supported by WebKit at the moment. http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(Cascading_Style_Sheets)

Not good.

[2015-05-06 16:50] iamthestreets commented on #395
Awesome, thanks!

[2015-05-06 16:58] iamthestreets commented on #395
Hi

If I wanted to modify the buttons, how would I do this? The less files are a little different than I'm used to.

[2015-05-06 17:30] ivantcholakov commented on #396
If it was supported, the good way would be this:

[code]

It is not supported at the moment by Chrome, Firefox.

I tried other proposed tricks that I found, but none of them really worked.

There is one last option: http://welcome.totheinter.net/autocolumn/sample10.html
http://welcome.totheinter.net/columnizer-jquery-plugin/
but it seems to me complicated, I don't want to go there. You can try it,

[2015-05-06 18:06] almasaeed2010 commented on #395
Hello,
You can modify the buttons.less files or explore the variables.less file.

[2015-05-06 18:53] omerOksuzlerTEAM6 commented on #105
I only copied the parts from app.js to the particular file where highcharts was conflicting with so that not all pages are affected due to the change on app.js.

[2015-05-06 21:34] almasaeed2010 commented on #397
Hello,

What if the sidebar was used without tabs? The sidebar is shouldn't be limited tabs and should be able to deal with such situations where tabs are not used. Can you think of a way to make that possible?
Thanks for the suggestion!

[2015-05-07 05:33] tejaswaroop51 opened #398 "Has some problem with advanced data table"
There are like 1925 entires in my data but when i load into datatable it is displaying only 1825 entries how to solve this please help me

[2015-05-07 05:39] githubjeka commented on #398
What you mean ` like 1925 entires `? Please add screen.

[2015-05-07 07:23] YasserHassan commented on #397
Actually I believe there should be no conflict between the two situations. Currently the structure is as below (simplified):
[code]
In fixed right sidebar mode, the scrolling is applied on the `<aside>` element level so all its contents become scrollable. That is, all the tabs are treated as a single scrollable element.

However, if the scrolling is applied on the `tab-pane` DIVs level instead, on

[2015-05-08 13:14] blah73 opened #402 "Demo not loading all content"
When I browser here:
https://almsaeedstudio.com/preview

Not all of the content loads.  This is due to the HTTPS and HTTP mixing of content loading.

It appears this has been fixed in the repo by loading ionicons.min.css over HTTPS.  However the demo page has not been updated to reflect that change.

[2015-05-08 16:44] CharlesOkwuagwu commented on #356
Thanks, i have resolved it.
For anyone else having this issue u may try:

setTimeout(function () { map.invalidateSize() }, 500);

    <script type="text/javascript">
        $(document).ready(function () {
            var contentHeigh = $("body > #wrapper").height() - 100;
            $('#map').css("height", contentHeigh + "px");
        });
    </script>

[2015-05-08 17:27] ivantcholakov commented on #356
http://www.labnol.org/internet/embed-responsive-google-maps/28333/

[2015-05-08 19:51] gdogabriel commented on #274
I had the same problem.

Do you recommend to concat? Like this:
[code]
It worked.

But I did something different. I replaced all `@gray` to `@ltegray`, and commented these lines from AdminLTE.less:
[code]
And it worked:
[code]

[2015-05-08 20:09] gdogabriel opened #403 "mixins.less .logo-variant bg-color customizing theme logo"
If we replace the text of .logo with background-image then we have problems with mouse over. So I suggest to change `background` to `background-color` at file `build/less/mixins.less:40`:
[code]
To:
[code]

[2015-05-08 20:17] ivantcholakov commented on #274
[code]
Don't.

[2015-05-08 20:26] blah73 commented on #108
I've seen this done automatically with Jquery on standard bootstrap navbar items.  Loop through the hrefs and if the link matches the current page then add the active class.

http://stackoverflow.com/questions/11533542/twitter-bootstrap-add-active-class-to-li

[2015-05-08 20:35] almasaeed2010 commented on #398
I think this is a back-end issue. Are you sure that all records are loaded? If so, you might want to report the issue in the <a href="https://github.com/DataTables/DataTables">datatables</a> repository.

[2015-05-08 20:37] almasaeed2010 commented on #402
I will fix this soon. Thank you for letting us know!

[2015-05-08 20:40] almasaeed2010 commented on #403
Fixed in master. Thanks for reporting this!

[2015-05-08 20:40] #403 closed

[2015-05-08 20:43] #395 closed

[2015-05-08 23:53] citrusfizz commented on #117
the issue is that the file it is trying to load is jQuery-2.1.4.min.js
however the file in the plugins/jQuery  is jquery-2.1.4.min.js
notice the uppercase Q
it seems like this would either need a case insensitive Apache module.  or simply rename the file with the uppercase Q

[2015-05-09 03:12] ntfox opened #405 "Control sidebar has problem"
Hi,
in Control sidebar when select any things, that closed.

[2015-05-09 04:03] almasaeed2010 commented on #405
Fixed in master. Thank you for reporting this!

[2015-05-09 04:03] #405 closed

[2015-05-09 11:20] lukacavic opened #408 "Right sidebar closing"
Hi,

when I open right sidebar, it is showing...thats ok, but when changing tabs in sidebar it is closing immediatly..

[2015-05-09 11:21] githubjeka commented on #408
Fixed in 2.1.1

[2015-05-09 11:26] yufieko commented on #408
it's fixed, download the latest version
[issues 405](https://github.com/almasaeed2010/AdminLTE/issues/405) , [adminLTE 2.1.1](https://github.com/almasaeed2010/AdminLTE/releases/tag/2.1.1)

[2015-05-09 12:25] ccarrionp opened #409 "jQuery.js called on scripts but jquery.js in plugins"
just add a Q in plugins folder name jQuery.js

[2015-05-09 12:26] ccarrionp opened #410 "Left collapsed mini sidebar dont hide"
if you scroll the mouse and leave collapsed mini sidebar, the content of sidebar still showing

[2015-05-09 12:27] #409 closed

[2015-05-09 12:27] ccarrionp commented on #409
My bad, don't see the commit

[2015-05-09 23:50] sniper7kills opened #413 "removal of bootstrap import in less"
In the styles and in AdminLTE.less there are the following imports
    @import "../bootstrap-less/mixins.less";
    @import "../bootstrap-less/variables.less";

I would like to suggest creating an AdminLTE-example.less (or similar) that would have those two imports for your grunt task(s). Allowing the use of AdminLTE without having to edit your package to use a pre-existing bootstrap download

I.E

[2015-05-09 23:59] nicolas-besnard commented on #408
Still not working if [this is update-to-date](https://almsaeedstudio.com/themes/AdminLTE/index2.html)

[2015-05-10 04:10] almasaeed2010 commented on #408
@nicolas-besnard I updated the demo.

Thank you.

[2015-05-10 04:10] #408 closed

[2015-05-10 04:10] almasaeed2010 commented on #410
Which browser are you using?

[2015-05-10 04:11] almasaeed2010 commented on #402
Fixed.

[2015-05-10 04:11] #402 closed

[2015-05-10 04:27] ccarrionp commented on #410
Safari, on google chrome works well

El domingo, 10 de mayo de 2015, Abdullah Almsaeed <notifications@github.com>
escribió:

[2015-05-10 04:35] ccarrionp commented on #410
Tested on mac with safari the bugs works, tested on windows 8.1 with google chrome works fine.

[2015-05-10 11:39] suvjunmd opened #414 "Text inside panel is not visible"
If you place a Bootstrap panel inside a modal, the text inside panel body is not visible, because the background-color ane text-color are the same (white).

![panel](https://cloud.githubusercontent.com/assets/11020536/7554078/5cf1fd0a-f721-11e4-84cd-b6235b2122ba.png)
[code]

[2015-05-10 12:05] YasserHassan opened #415 "Showing right sidebar notification labels in minibar mode by default"
Currently the highlighted labels below are hidden in the minibar mode. Those labels are used for notification which means those notifications can be received by the user when the sidebar is expanded only. It would be great for usability to show them also in the minibar mode too by default in a way similar to the top menu notification labels.
![adminlte_icons](https://cloud.githubusercontent.com/as

[2015-05-10 15:12] aoao commented on #410
safari 8.0.5 (10600.5.17)
![bug](https://cloud.githubusercontent.com/assets/194267/7554809/5a28fa40-f769-11e4-96b7-542fa16dee07.png)

[2015-05-10 16:01] aoao commented on #410
temp fix
.sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
  .sidebar-mini.sidebar-collapse .sidebar-form,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display:

[2015-05-10 17:04] almasaeed2010 commented on #410
This problem keeps happening in Safari for some reason. I'll try the fix @aoao provided. Thanks.

[2015-05-10 17:06] almasaeed2010 commented on #414
The primary modal must use white colored text to display properly. If you wish, you can add the following code to force dark colors in panels.
[code]
If this works I will add it to AdminLTE. Thank you!

[2015-05-10 17:08] almasaeed2010 commented on #415
I am aware of the issue but unfortunately the only fix for it is to change the markup. It should work with the current version if you place the labels in the ```<span>``` that contains the text. I will test and get back to you.

[2015-05-10 17:10] #396 closed

[2015-05-10 18:23] suvjunmd commented on #414
Hey Abdullah,
Your example works great ! Hope to see this in the next version of AdminLTE.

[2015-05-10 18:44] sky3913 opened #416 "Scroll bar overlap with main content in IE 10"
Hi,
I'm using this template (starter.html) to design my admin layout. I create dummy data and display it in table. When I scroll down the page, this work fine for Chrome 42 and Firefox 37 but there is a problem in IE 10, as below: (see the red circles)
<img src="https://dl.dropboxusercontent.com/u/94697186/SSS.png" />

Mostly our users still using IE 10. How to fix this is problem?
Thank you.

[2015-05-10 19:12] YasserHassan opened #417 "Incorrenct Bower version"
The version mentioned in bower.json file says 2.1.0. This seems to be repeating so I'm evaluating if it's better to use the PHP Composer package instead as it seems to be more reliable in this area.

[2015-05-11 08:51] YasserHassan commented on #417
@almasaeed2010 I am thinking of a way having some sort of automated version update from a single location that holds the current version as a string and triggered either automatically (on file update) or manually to update that version whenever required (e.g. HTML template, bower.json file) alone with anything else that may require repetitive manual update. This will make it consistent everywhere

[2015-05-11 18:34] P1X3 opened #418 "preventDefaults issues when using template via AngularJS"
This is menu that I generate using AngularJS

          <ul class="sidebar-menu" ng-controller="MenuCtrl">
            <li class="header">MAIN NAVIGATION</li>

            <li ng-repeat="menuItem in menuItems" ng-class="hasSubmenu(menuItem)">
              <a href="{{menuItem.url}}"><span ng-bind="menuItem.title"></span><i class="fa fa-angle-left pull-right" ng-show="menuItem.menu"></i></a>

[2015-05-12 04:03] almasaeed2010 commented on #414
:+1:

[2015-05-12 04:06] almasaeed2010 commented on #416
That would be an IE issue. They chose to let the scrollbar to float over the content. I apologize but this is not an AdminLTE issue.

AdminLTE offers a boxed layout that would deal with this if you find it an issue. Add the  ```layout-boxed``` class to the body tag and test.

Thank you.

[2015-05-12 04:10] almasaeed2010 commented on #417
This is very annoying specially when releasing quick-fixes or patches. I seem to always miss to update the version in some file.

[2015-05-12 04:11] almasaeed2010 commented on #418
Thank you for sharing this. I will look into it.

[2015-05-12 07:44] YasserHassan commented on #417
Of course it'd be confusing to try to remember and keep track of those files. I'm thinking of two approaches to handle that. The first is a manual one by keeping a release checklist like:

Release List:
- Update version bower.json
- Update version in package.json
- Update version in index2.html
- ...etc

The other approach is using templates for those specific files. The checklist would be a very

[2015-05-12 09:48] agstwn opened #419 "custom tree view sidebar"
Hello,

In your javascript code there a function to find tag "li" has class active, so when in each page html when i click it will became active. what if i slice into tree part, header.php, body.php, and footer.php.
in header will contain header and sidebar. so i delete the class active.
is it possible to custom app.js?
so when i click the tag "li" it will became active.

[2015-05-12 14:22] gdogabriel commented on #274
Suggestion: build AdminLTE like [bootstrap-switch](https://github.com/nostalgiaz/bootstrap-switch/tree/master/src/less/bootstrap3):
* build.less (new file)
[code]
* AdminLTE.less -- just remove these bootstrap imports

Anyway, I made a bash script that replaces `@gray` to `@ltegray` and comment those lines:
[code]
All we need, it is just update AdminLTE and run this script.

[2015-05-12 18:34] victorleal commented on #17
I don't know if there is some advance here (this issue was opened a long time ago), but I was doing the same thing: trying to use *select2* besides the AdminLTE theme.

In my implementation it looks good, it does not fit perfectly (it is missing the *select2* images, and I still don't know why) but it works fine. It was just necessary to put the `select2-bootstrap.css` file also.

[2015-05-12 19:05] YasserHassan opened #420 "Scrollable minibar in fixed layout"
Currently in fixed layout mode, the minibar is forced to expand on hover regardless of how the developer sets it. Usability-wise, this can be annoying when the application is used for a while, at least it would be good to have the option to avoid it. I believe this was done for technical reasons to handle long menus extending below the lower screen edge. Is it possible to make the minibar scrollab

[2015-05-12 19:43] YasserHassan opened #421 "Option to hide minibar hover popup menu text"
It would be good to have an option to avoid showing the minibar icon names that pop up on hover. Such option can be used when the sidebar consists of single-level menus only. After using the application for a while, such text wouldn't be required by the user.

Note: The closest thing to I found to this was setting `enableBSToppltip` to `false` but did not work out.

![menu-text](https://cloud.gith

[2015-05-13 01:10] rafael-renan-pacheco opened #422 "Simple table > Responsive Hover Table"
Good evening!

The "Responsive Hover Table" from "Simple table" page have a problem in the box-header.

Since the search input has a custom style (width 150), it is creating a invisible space above all the box header. You can see this problem by trying to select the box title.

To solve this little issue, transfer the custom style to the div above, like:

[code]

Best regards.

[2015-05-13 09:03] marcus6431 opened #423 "Unable to change the chat box height/width"
Hi, i currently having a problem to change the size of the chat box that have inside the adminLTe template. I'm trying to search for possible css file to resize it but failed to do so. May i know where is the exact place to change the css for the chat box size? Thanks

Here are my chat box :

![untitled](https://cloud.githubusercontent.com/assets/11958254/7607175/f1bc8082-f991-11e4-8dfa-e68da5de36

[2015-05-13 10:53] Vorlif commented on #423
You must edit the AdminLTE.css. Search for the line:
[code]
and change the parameter ```height: 250px;``` to your favorit height. For a chat over the full length of the website delete the parameters ```height: 250px;``` and ```overflow: auto;```

Best regards.

[2015-05-13 18:43] BK20 opened #424 "Can "collapse" widget default to collapsed state on load?"
For boxes that use the "collapse" widget, is there a way to default to the collapsed state (rather than defaulting to the expanded state) when the page is loaded?
Thanks!

              <div class="box box">
                <div class="box-header">
                  <h4 class="box-title">Title Here</h4>
                  <div class="box-tools pull-right">
                    <button class="btn btn

[2015-05-13 19:29] YasserHassan opened #425 "Handling box pre/post remove events"
@almasaeed2010 is there currently a way to detect pre/post box removal (by clicking the remove icon) to perform related actions such as storing that state in a session or connecting to the server or prevent the removal if the update failed, or let the user confirm before the action box removal. Handling other events is also useful such as updating an initially collapsed box via Ajax when expanded

[2015-05-14 01:13] marcus6431 commented on #423
Hi there, I cound't find any code that have .direct-chat-messages.

Mind to tell me which line is that at?

Thanks

[2015-05-14 06:48] SylvainSimon opened #427 "SlimScroll with Fixed Layout when focus on mobile"
With mobile.
When fixed layout activated, slimscroll imported.

On focus on input in the sidebar (Issue reproductibility on your website also with the search input)
https://almsaeedstudio.com/themes/AdminLTE/index2.html

My project is create mobile website and my connection form is in the sidebar.

![2015-05-14_08-44-19](https://cloud.githubusercontent.com/assets/11244274/7627245/94f6fa4c-fa15-11e

[2015-05-14 09:39] josebailo commented on #419
Here explains how to edit app.js file.

https://almsaeedstudio.com/themes/AdminLTE/documentation/index.html#adminlte-options

[2015-05-14 10:08] josebailo opened #428 "Error on documentation"
https://almsaeedstudio.com/themes/AdminLTE/documentation/index.html#layout

On the layout options documentation, the collapsed sidebar class is wrong.

The correct class is `.sidebar-collapse`.

[2015-05-14 14:23] BK20 commented on #424
FYI - here is the solution that worked for me:

    <div class="box box-solid collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Default Solid Box</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
                <button class="btn btn-default btn-sm"

[2015-05-14 14:26] #424 closed

[2015-05-14 15:02] Vorlif commented on #423
You use the last version of AdminLTE?
[Show Lines](https://github.com/almasaeed2010/AdminLTE/blob/master/dist/css/AdminLTE.css#L2599-L2607)

[2015-05-14 20:23] kurtschindler commented on #413
I think these references simply can be updated to use the "(reference)" modifier as described here http://lesscss.org/features/#import-options-reference

Eg:
@import *(reference)* "../bootstrap-less/mixins.less";
@import *(reference)* "../bootstrap-less/variables.less";

[2015-05-14 20:36] belzebit opened #429 "Custom tabs with different active color?"
.nav-tabs-custom.tab-danger>.nav-tabs>li.active{border-top-color: #f56954;}
.nav-tabs-custom.tab-success>.nav-tabs>li.active{border-top-color: #00a65a;}
.nav-tabs-custom.tab-warning>.nav-tabs>li.active{border-top-color: #f39c12;}

[2015-05-14 20:43] YasserHassan commented on #415
This would be a good fix as displaying it in both expanded and mini mode should be the default in my opinion.

[2015-05-14 20:52] YasserHassan commented on #415
I tried it, did not work. Probably a good alternative would be adding them over the icons the same way with the nav bar icons at the top instead of to the right of the text. This way it will keep the look consistent in both modes. I think this would be better.

[2015-05-15 01:58] kurtschindler opened #430 "Internet Explorer: nav menu starts off screen and slides in on page load"
Strange behavior in IE11 - the menu starts off screen to the left and transitions into place on page load. It makes the page-load experience really awkward.

Interestingly, this *does not* occur when IE's dev tools are open, so I wasn't able to verify in emulated IE10/9 versions.

[2015-05-15 03:37] marcus6431 commented on #423
I think im using an old version of AdminLTe.

Anyway to replace with new version? As i currently having some page working on AdminLte already, i don't wish to replaced those pages. Or i just need to replace the css and js file from new version into my current version of AdminLte only?

Thanks and best regards

[2015-05-15 06:37] Vorlif commented on #423
Okay,
I think you use the old branch. (Version < 2).
In this case you can to that.

In the app.js you search for:
```var a = f.extend({width: "auto", height: "250px"...```
and edit the height to your favorit height.
If you use the dashboard.js it ist the same for:
[code]

But I recommend you to switch to the new version. The code is cleaner, it have more features and it is still supported. An upgr

[2015-05-15 06:38] marcus6431 commented on #423
Okay thanks, i will try that.

[2015-05-15 17:57] kurtschindler opened #431 "IE - menu & footer render issue on short pages"
Screen cap of the demo site's blank page:

![adminlte-ie-footer](https://cloud.githubusercontent.com/assets/946993/7658676/aed4308c-fb01-11e4-8241-6515a8ed59ae.png)

Pages that are vertically taller & require a scroll bar appear normally.

[2015-05-15 21:46] YasserHassan opened #432 "Using boxes with and without solid header breaks responsive layout"
Currently the outer box container (the DIV with class="box") has different top and bottom borders. Without solid header, the top and bottom borders are 1px/1px. In the case of a regular header, the top and bottom borders are 3px/0 respectively. When both boxes are used in sequence in a responsive design, this can create a gap in the locations because of this 1px difference. A practical example is

[2015-05-16 06:24] pranavpari opened #433 "I am facing problem with datatable"
Hello,
there is date field in my datatable and when I am trying to re-order it, It ordering like string for example
05-04-2015
08-05-2015
15-04-2015
is there any way to fix it?

Thank you

[2015-05-16 21:15] HEm3R opened #434 "Enable slimScroll for control-sidebar in fixed layout"
SlimScroll is not set for .control-sidebar. Moving the functionality from main sidebar is not possible because of different structure of control-sidebar.

[2015-05-16 21:48] ron23 opened #435 "jquery tree() doesn't work with angular with ng-repeat"
Hi,
It's probably more question than an issue and I hope someone with a bit knowledge with angular could give me his insight.
I have angular directive that's responsible for creating a tree-menu in the sidebar.
It uses ng-repeat to create the tree structure.
But since the tree(",sidebar") function runs before it's being constructed (a special button has to be pressed in order to get the items in t

[2015-05-16 22:34] almasaeed2010 commented on #413
@sniper7kills @kurtschindler Thanks for the suggestions. I added the changes to the local copy and I will push changes to master soon.

[2015-05-16 22:34] #413 closed

[2015-05-16 22:38] almasaeed2010 commented on #419
This could easily be done using the following javascript:

[code]

Is this what you are looking for?

[2015-05-16 22:41] almasaeed2010 commented on #420
The expand on hover mode is necessary if SlimScroll is used, and the fixed layout does not work without SlimScroll. the problem that SlimScroll causes is the inability to overflow content from the sidebar, which disallows the sidebar-mini from showing the links to begin with. Unfortunately, this is the only method I could come up with that solves this problem.

[2015-05-16 22:43] #423 closed

[2015-05-16 22:46] almasaeed2010 commented on #422
Thanks for the suggestion. Fixed in master.

[2015-05-16 22:46] #422 closed

[2015-05-16 22:49] almasaeed2010 commented on #425
There isn't currently a way to do that through AdminLTE's app.js. However, I like the idea of adding before/afterRemove and Collapse handlers. I will have to look into it. Thanks for the suggestion.

[2015-05-16 22:51] almasaeed2010 commented on #427
I am not sure what the issue is. Could you please elaborate on the problem? What happens when the slimscroll is recreated?

[2015-05-16 22:53] almasaeed2010 commented on #428
Thanks for sharing. Updated in master. I will update the online documentation soon.

[2015-05-16 22:53] #428 closed

[2015-05-16 22:56] almasaeed2010 commented on #430
We have discussed this issue before in #286. Unfortunately, we weren't able to find a solution. I apologize for the inconvenience and I'd appreciate any suggestions if you have any.

[2015-05-16 22:58] almasaeed2010 commented on #431
Does this happen only in IE? If so, could you please provide the version of IE?

[2015-05-16 23:02] almasaeed2010 commented on #432
This depends on your implementation of the grid. When using Bootstrap's grid system, this would not happen:

[code]

[2015-05-16 23:04] almasaeed2010 commented on #433
Datatables are provided by the [Datatables plugin](https://www.datatables.net/). Please review their documentation, or post your issue on their [repository](https://github.com/DataTables/DataTables). Sorry for the inconvenience.

[2015-05-16 23:04] #433 closed

[2015-05-16 23:07] almasaeed2010 commented on #434
The control sidebar is implemented for different purposes than that of the main sidebar. Thus, the structure of anything in the main sidebar is invalid in the control sidebar.

If you want to enable slimscroll for the control sidebar, then you can do so by activating it manually using:
[code]

[2015-05-16 23:10] almasaeed2010 commented on #435
Unfortunately, I have no experience with AngularJS. I will leave this open in hopes that someone can help.

[2015-05-16 23:25] almasaeed2010 commented on #417
That's a good idea. Thank you for providing this. I will create a similar list to help me remember before I release next versions.

[2015-05-16 23:25] #417 closed

[2015-05-16 23:25] #363 closed

[2015-05-16 23:30] YasserHassan commented on #417
@almasaeed2010 I am glad I could help.

[2015-05-17 03:15] kurtschindler commented on #431
Only in IE11 (Windows 8). With Dev Tools open, I can't repro it, so haven't gotten to compare against older emulated IE versions.

I can't seem to repro this right now w/ my version of AdminLTE - but I can on your demo site.

This issue is not a concern to me, I was mainly just sharing in case you weren't aware and want to take a look at it.

[2015-05-17 03:33] kurtschindler commented on #430
Sure thing. I have no idea where to even start, but I'll follow up if I have any success.

A really awful workaround is to force IE9 render mode by adding the meta tag `<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">`. In limited testing, I was quite surprised the rest of the site behaved normally, but I'm wary of making this a production-level "fix" as it's forcing IE back 2 versions.

[2015-05-17 06:01] enumag commented on #430
Took me about 15 minutes to find the cause and some solutions:
https://css-tricks.com/transitions-only-after-page-load/
http://stackoverflow.com/questions/14389566/stop-css3-transition-from-firing-on-page-load

[2015-05-17 06:36] SylvainSimon commented on #427
I go to try explain you step by step.

- Go to your website on mobile (I'm on Android) (I have seen this bug on this).
   It's important that the "fixed" option is activated.

- Look my screen in the referal post.

- When i touch an input text, the keyboard of android appear.
- When it's appear, he fire the slimscroll plugin to calculate size of sidebar and he delete scrollbar of the main content

[2015-05-17 07:21] YasserHassan commented on #420
Is it possible to use an alternative to slimScroll, maybe in a later version? It seems that there are several viable alternatives out there.

[2015-05-17 07:54] YasserHassan opened #437 "Box containers beark responsive elments sequnce"
Currently boxes need to be included in containers such as `<div class="col-md-6"></div>` to render properly. This prevents the rearrangement of box elements when one of them is removed as in the shot below. It would be better if either:
- Make the boxes render properly without the need for containers by supporting `col-*-*` classes on the element level) or...
- Give an option to the developer to l

[2015-05-17 08:08] YasserHassan commented on #432
Yes I am using Bootstrap grid and my implementation is something like this:
[code]
So the elements would be automatically rearranged horizontally, left to right, on window resizing or element removal. Using columns would restrict that and the result would not be as good in my opinion.

[2015-05-17 12:06] Dialga opened #438 "Closable tabs"
Feature request to implement closable tabs.

[2015-05-17 13:12] LifeH2O opened #439 "Horizontal Forms?"
`.form-horizontal` does not work properly on default form. Please add one example of horizontal form.

[2015-05-17 13:52] HEm3R commented on #434
We may misunderstand each other, I will try to explain it better.

There is issue with control-sidebar for small screens and window resize. Because slimscroll is not applied  for .control-sidebar, common browser-based sidebar is shown for Fixed layout (and that is not so 'awesome'):

![control-sidebar-slimscroll-1](https://cloud.githubusercontent.com/assets/209931/7670610/5f7ea192-fcab-11e4-9585-b

[2015-05-17 22:05] kurtschindler commented on #430
Fantastic, @enumag! The css-tricks solution didn't have any affect when implemented verbatim, but by selecting the relevant elements directly I was able to prevent all the weird transitions on load.

I applied the following changes to my solution and things are working great. Consider this a poor-mans pull request - @almasaeed2010 you may wish to tweak the specifics just a bit:

Dropped this in th

[2015-05-17 22:24] enumag commented on #430
Interesting. I mean the css-tricks solution actually did work fine for me. Doesn't really matter though. :-)

[2015-05-18 13:33] halvors opened #440 "Make A-element inside "treeview" class function like a link."
Make A-element inside "treeview" class function like a link.

Also being able to click the element that expands the treeview.

[2015-05-18 16:14] andrewdartford opened #441 "Copyright query."
Dear Sir,

I have opened this ticket as both your list email addresses are currently not receiving.

I am interested in your AdminLTE dashboard for a project I will be working on very shortly and have been reading its documentation. Can you please confirm that the copyright is to be included in with other licenses only as per your MIT licence, and that there is no requirement to 'show' the copyrig

[2015-05-18 21:27] almasaeed2010 commented on #441
Hello,

AdminLTE has two major resources, which are AdminLTE.css and app.js. Both of these files are created by me and licensed under MIT. Other resources such as plugins are properly licensed under multiple different open source licenses such as MIT, GNU GPL and Open Source Software. For each plugin, you may want to review its license. You can look for the plugins section within the documentation

[2015-05-18 21:28] almasaeed2010 commented on #440
I am not sure I get the issue. Please elaborate and provide a solid example for me to help you. Thanks!

[2015-05-18 21:29] almasaeed2010 commented on #430
I'll take a loot at these solutions once I get a chance.

Thanks guys!

[2015-05-18 21:32] almasaeed2010 commented on #434
It is possible when you define a specific width since SlimScroll requires one. The default width is 230px.

SlimScroll has brought so much grief to the template and is not being maintained by its creator anymore. In a future release, I will replace this plugin with a more reasonable option.

Let me know if you need more help in adding slimscroll to your control-sidebar.

[2015-05-18 21:41] almasaeed2010 commented on #439
![screen shot 2015-05-19 at 12 39 54 am](https://cloud.githubusercontent.com/assets/1512664/7690808/9995c30a-fdbf-11e4-8943-f77a2d3e93e7.png)

Horizontal forms are part of Bootstrap which makes them work by default. Here is the code I used to generate the above screenshot.

[code]

[2015-05-18 21:46] almasaeed2010 commented on #438
This is more of a plugin request.
There are multiple solutions that you can implement:
[Stack Overflow](http://stackoverflow.com/questions/18096724/how-to-add-a-close-icon-in-bootstrap-tabs)
[Jay Keu](https://jeykeu.wordpress.com/2013/07/27/dynamically-add-remove-and-re-number-tabs-in-twitter-bootstrap/)

For now, I am not able to create new features for the template. I hope the provided links hel

[2015-05-18 21:46] #438 closed

[2015-05-19 09:46] jamesmcm opened #442 "Do not hide sidebar for small screens?"
Is there anyway of not hiding the sidebar for small screens? As this makes it impossible to navigate the dashboard on mobiles, etc.

Ideally, the sidebar could be converted to another layout and moved to the bottom of the page in this case.

[2015-05-19 10:02] jamesmcm commented on #442
Even something like this: http://www.bootply.com/128936# - with a toggle button on a small screen, would be useful but I couldn't get it to work with toggling sidebar-collapse.

[2015-05-19 11:50] pawelantczak opened #443 "Menu is deactivated, when other menu is expanded"
Hello.
This is same as in https://github.com/almasaeed2010/AdminLTE/issues/380 and still exists in 2.1.1

[2015-05-19 13:23] YasserHassan opened #444 "Triggering events on left/right sidebars show/hide/minimize"
In other words, any change in left and sidebar sizes. This would be useful where handling such events is needed.

[2015-05-19 13:33] asawintun commented on #84
http://almsaeedstudio.com/AdminLTE/css/datepicker/datepicker3.css
http://almsaeedstudio.com/AdminLTE/js/plugins/datepicker/bootstrap-datepicker.js

those two link are die.. could you please re-upload again

[2015-05-19 13:41] YasserHassan opened #445 "Triggering window resize event on resizing sidebars"
Some responsive features in some JavaScript libraries and jQuery plugins work by handling the `window` `resize` event. AdminLTE's sidebars are tricky in that they require the same responsive handling by page elements when the sidebars sizes change but the affected elements can not feel that. For this reason I'm suggesting triggering window resize events (e.g. `$(window).trigger('resize');`) when t

[2015-05-19 13:42] asawintun opened #446 "/css/datepicker/datepicker3.css"
http://almsaeedstudio.com/AdminLTE/css/datepicker/datepicker3.css
http://almsaeedstudio.com/AdminLTE/js/plugins/datepicker/bootstrap-datepicker.js

those two link are not availabel.. could you please re-upload again

[2015-05-19 15:11] acacha opened #447 "AdminLTE on Laravel. Switching default Laravel Boilerplate/Scaffolding to adminLTE with adminlte-laravel package"
Hi all,

First of all congratulations @almasaeed2010 for this awesome template. Very impressive!

At:

https://github.com/acacha/adminlte-laravel

You can find my contribution, a Laravel package to install adminLTE on Laravel overwriting default auth  Laravel pages, home page and error pages in few steps:

First install Laravel (http://laravel.com/docs/5.0/installation) and then Create a new Larav

[2015-05-19 21:51] almasaeed2010 commented on #432
Are you applying the ```col-*``` classes to the box or on a containing ```<div>```?

[2015-05-19 22:01] almasaeed2010 commented on #437
There are multiple ways to achieve this. Using the Bootstrap best practices guide prevents me from using  your first option. The second option won't work since the cols are placed within a ```.row```. The best way to achieve this is to use a layout similar to that of either Dashboard examples.

For e.g,
[code]

[2015-05-19 22:05] almasaeed2010 commented on #420
That's the plan. I am trying to create an easy transition from slimscroll to a different plugin.

[2015-05-19 22:07] almasaeed2010 commented on #431
Thanks for letting me know. I will try to see if I can get my hands on IE11 as soon as possible.

[2015-05-20 07:03] YasserHassan commented on #432
I'm applying it to the box's containing DIV. It does not work with the box's own DIV.

[2015-05-20 07:05] almasaeed2010 commented on #432
I must be misunderstanding something then. Could you please provide the code or a screenshot of the issue. Access to the page would be preferable. Thanks.

[2015-05-20 07:08] almasaeed2010 commented on #446
On which page did we try to load these files?

[2015-05-20 07:33] YasserHassan commented on #437
I agree on the importance on following the best practices especially in a standard template. It seems that Bootstrap was not designed with the possibility of removing and adding components dynamically with auto rearrangement in mind at the first place. I am evaluating other approaches to this.

[2015-05-20 07:34] almasaeed2010 commented on #437
I'd suggest a plugin such as Masonry to have the effect you are looking for while preserving responsiveness.

[2015-05-20 07:37] YasserHassan commented on #437
Yes Masonry is one of the options. Thank you @almasaeed2010.

[2015-05-20 07:49] YasserHassan commented on #432
According to #437, we can ignore the responsive part and consequently I'm not sure if that 1 pixel difference would be an issue anymore. However, if you are seeking pixel-level perfection, go to the widgets example page and look at Firebug layout numbers of the boxes shown below. You'll find different top and bottom pixels with different total in each.
![adminlte_3](https://cloud.githubusercontent

[2015-05-20 07:50] #437 closed

[2015-05-20 08:45] almasaeed2010 commented on #432
I got that part but how does that affect the consistency of the template? Different elements can have different sizes. The solid and regular boxes are defined for different purposes. At least this is how I thought of it when I built it. If I add the 3px top border or passing to the header of the solid box, it will create an odd look. Same goes for removing the 3px from the regular box.

I would si

[2015-05-20 08:46] almasaeed2010 commented on #447
This sounds interesting. I hope some us benefit of it. Thanks for sharing!

[2015-05-20 08:51] almasaeed2010 commented on #427
I tested on Samsung S4 and confirmed that the issue occurs on Chrome. I will try to fix it asap. Thank you for letting us know.

[2015-05-20 12:08] YasserHassan commented on #432
I was under the impression that these boxes should have the same dimensions for a possible mixed use. Normally such slight difference would not have any effect. In my case, I was experimenting with different styles and colors on the same page with auto arrangement to choose one to stick to then use it alone as you mentioned. This is where that slight difference broke it. Again this is not longer r

[2015-05-20 12:08] #432 closed

[2015-05-20 16:07] chuygb commented on #444
or provide a hook to insert our call to refresh other plugins like tableTools

[2015-05-20 16:10] chuygb commented on #440
When you have a tree on the side bar, you remove links on parents of branches, so clicking them just opens the children, but soemtimes we want to have parents behave as filters, so click on parent opens children and refreshes filtered view that includes all children
then clicking on children, filters again for that element

Since I use label counts, probably clicking anywhere just opens, and on la

[2015-05-20 17:58] HEm3R commented on #434
Thank you, I can set it. Actually, I meant it as a feature request rather then a question.

[2015-05-20 19:42] rafael-renan-pacheco opened #448 "Any plans for AdminLTE run fully locally?"
Hi! After a little research in the Issues list, I found that some users requested, or would like to see, AdminLTE run on localhost, without internet.

I found this same problem trying to run AdminLTE on a environment filled with firewall rules, which blocked the download of the following plugins/css/extensions:

Is there any plan about running AdminLTE without downloading external dependencies?

D

[2015-05-20 20:56] sniper7kills commented on #448
Rafael,
Just my two cents; But I would agree that the bower.json file should be updated to include the dependency's; Beyond that the files included should only be used as templates for coding your own pages.

As such; the links to the CDN are simply a way for the author to minimize the package size and allow 99% of users who don't have firewall issues to instantly view the examples. And to include

[2015-05-20 22:35] rafael-renan-pacheco commented on #448
Hello Will!

Using bower and sed as you said could solve this problem, I'll try that.

I hope your contribution can be made into a future AdminLTE release, so those who need a complete offline instalation can use an out-of-the-box solution.

Thanks for the reply,
Rafael.

[2015-05-20 22:35] #448 closed

[2015-05-21 08:46] pbihler commented on #425
I submitted a pull request to trigger events after the action is completed.

It's not trivial to privde a stable `before-...` handler, so it's easier to overwrite the standard AdminLTE handler:
[code]

[2015-05-21 10:59] AndrewLag opened #451 "Sidebar-mini with fixed"
Why is it not possibile to have the sidebar-mini (with no hover effect) and the fixed layout?

[2015-05-21 11:03] SylvainSimon commented on #451
Yeah, good question, i agree this issue, why ?

[2015-05-21 11:07] SylvainSimon opened #452 "fastclick use with internet explorer"
On internet explorer (8, 9, 10 and last), fastclick.js are notification error in console.

![image](https://cloud.githubusercontent.com/assets/11244274/7747363/1309427e-ffba-11e4-9135-b9ec8d766420.png)

It's issue of adminLte or fastclick implementation ?

[2015-05-21 11:26] YasserHassan commented on #451
To avoid duplication, issue #420 addressed the same subject.

[2015-05-21 13:55] AndrewLag commented on #451
@YasserHassan Sorry, didn't find that.

[2015-05-21 18:37] rafael-renan-pacheco opened #453 "jQueryUI wrong version?"
Hello!

Is AdminLTE shipping an outdated version of jQueryUI in plugins/jQueryUI?

For example, index.html uses the following js:

but AdminLTE has a local jQueryUI plugin copy using version 1.10.3.

My suggestions:
1: Remove plugins/jQueryUI from the project; or
2: Update the plugins/jQueryUI version, to match the index.html sample.

Thanks.

[2015-05-22 04:35] chuygb commented on #439
I also have trouble with horizontal forms

[2015-05-23 10:45] almasaeed2010 commented on #452
Hello,

This should be reported to the [FastClick repository](https://github.com/ftlabs/fastclick).

Thanks!

[2015-05-23 10:48] almasaeed2010 commented on #451
@YasserHassan thanks for providing the link.

@AndrewLag I hope you understand the issue I am facing with SlimScroll. Hopefully in a future release I'll be able to provide a solution. Thanks!

[2015-05-23 10:48] #451 closed

[2015-05-23 10:51] almasaeed2010 commented on #453
Hi,

The lack of use of jQueryUI in AdminLTE makes me forget updating it with every release.

I have decided to use bower in the future to avoid this issue from happening again. For now, I will update it manually.

[2015-05-23 11:07] almasaeed2010 commented on #453
Fixed in master.

[2015-05-23 11:07] #453 closed

[2015-05-23 11:39] almasaeed2010 commented on #442
AdminLTE implements a push menu for small screens. Similar to what you posted. The navigation is accessible through the sidebar-toggle button on the lower left corner of the navbar on small screens and next to the logo on large screens.

[2015-05-23 11:41] almasaeed2010 commented on #443
Hello,

I explained in the issue (#380) why this is not possible. I apologize for the inconvenience.

[2015-05-23 11:41] #443 closed

[2015-05-23 11:42] almasaeed2010 commented on #440
You may need to add ```event.stopPropagation()``` to make it work. Otherwise, I am not sure how I can help.

[2015-05-23 11:47] chuygb commented on #440
to the sidebar?
today i put a lin on the ref, of an and it gets removed, so an example on when to ad an o'clock to those nodes, or the stop propagation, could help
*On my requirement, I still need the click to open child rows, all I need is then to refresh the body of the document with the results  of the top item

[2015-05-24 12:13] LifeH2O opened #455 "JS Loading Errors on Homepage"
Please see these errors
![adminlte](https://cloud.githubusercontent.com/assets/385283/7787801/352cf582-0238-11e5-8545-94d4ae0dd82e.png)

[2015-05-24 12:18] LifeH2O commented on #455
This is probably solved by disabling protection
![adminlte2](https://cloud.githubusercontent.com/assets/385283/7787817/ee8cf090-0238-11e5-980e-a92c0c2a957e.png)

[2015-05-24 21:57] emmerink commented on #455
I made a fix for it here:
https://github.com/gionnivaleriana/laravel-adminlte/pull/6

These cdn's can all be accessed over https, so they can be easily changed (no need to turn off security in that case).

[2015-05-25 09:31] dongperez opened #461 "Increasing chart height when window is resized"
Using the demo page (https://almsaeedstudio.com/themes/AdminLTE/index2.html), try to resize the current window by dragging the bottom of the window up and down for several times. The height of the chart (id="salesChart") increases, causing the chart to also increase its height.

[2015-05-25 13:11] YasserHassan commented on #444
@almasaeed2010 do you have a naming convention for events? I want to name the events triggered when the left sidebar is expanded or collapsed and I'm thinking of using the event names `expanded.pushMenu` and `collapsed.pushMenu` respectively. What do you think? Notice that the same convention should be used later for the right sidebar.

[2015-05-25 14:36] eothein opened #462 "Support for Internet explorer"
Dear Almasaeed

Again, I appreciate the template a lot. It works well for FireFox and for Chrome, but it seems the layout is completely destroyed when using Internet explorer. Is this a known issue? Or is there anything special which needs to be done to have support for this?

Kind regards

Jens Buysse

[2015-05-25 20:47] rafael-renan-pacheco commented on #462
Hello eothein!

Can you provide some screenshot and your IE version?

In IE 8.0 the layout loads 90% correct, with some problems in jQuery.

Look for js errors after loading AdminLTE in IE.

[2015-05-25 21:52] eothein commented on #462
Dear Rafael

Here is a screen shot. It just an application of the basic starter page in a Yii2 project. IN Chrome/firefox everything is fine but it seems IE is destroying the layout. (IE version 11.0.9600.17801 to be precise)

![screenshot](https://cloud.githubusercontent.com/assets/7603307/7802575/cc1c8272-0338-11e5-8c53-15e27569f1d3.jpg)

[2015-05-25 22:02] rafael-renan-pacheco commented on #462
Sorry, I don't have Windows 8.1 to try AdminLTE on IE11.

Have you tried to load AdminLTE out of the box, without using Yii2? If AdminLTE does work in IE11, than your app running on Yii2 is missing some references.

Just download the last release and open index.html on IE 11.

[2015-05-26 14:31] watoo opened #463 "Top nav-bar is occupying exta length"
![untitled](https://cloud.githubusercontent.com/assets/5346797/7814703/aeebe18a-0378-11e5-8bdb-1d91a6fa6ea0.png)
the top navigation bar (highlighted in red) is taking exta height. However its working fine in small size(col-xs-* and col-sm-*).If i resize it from css Pierce (name on right side of nav-bar) hides. I have spent four hours but cannot figure out why its not working properly.

[2015-05-26 16:37] dschueler opened #464 "How best to use other pages without duplicating the whole layout"
I love this theme but its not clear to me how to maintain the overall look of the sidebars and navigation etc. and be able to show a different content wrapper section. I want to keep only one main navigation page at the moment. How can I replace "content wrapper A" with "Content Wrapper B" all within the same home page?

[2015-05-26 16:55] eothein commented on #462
It seems there is a mistake loading the jQuery script. Debugging in IE stops and states that "addeventlistener is not a function" for line

"// Use the handy event callback
			document.addEventListener( "DOMContentLoaded", completed, false );"

Then all the other javascript files (using jQuery) fail and probably that's why the layout flips. I'll look for a solution.

Jens

[2015-05-26 17:42] rafael-renan-pacheco commented on #464
In MVC, the whole page is loaded for every request, this is a very common concept these days, since browsers have a good performance to handle this task.

For example, a lot of MVC PHP Frameworks shows the whole page for each request, without reloading just a content wrapper.

If you do need to load/reload just some section of your app, then you are looking for Ajax and maybe AngularJS.

AdminLTE

[2015-05-27 10:58] #446 closed

[2015-05-27 10:58] #452 closed

[2015-05-27 10:59] almasaeed2010 commented on #461
That's an issue with the [CharJS](https://github.com/nnnick/Chart.js/) library. Please report this to their issues section.

[2015-05-27 11:01] almasaeed2010 commented on #463
Please all resources correctly first. By not loading the resources correctly, the layout is prone to multiple types of errors. Make sure the images exist and are reachable by the browser. If the issue persists with all resources loaded correctly, please let us know.

[2015-05-27 11:04] almasaeed2010 commented on #464
@rafael-renan-pacheco is right.

It seems like you are looking for an Ajax approach. Which language are you using for back-end development? Most languages would allow you to split the layout into files such as header.php, footer.php and sidebar.php. Each of which only contains the necessary code for the layout. Some template engines such as Blade would allow you to do even better than that by defi

[2015-05-27 11:04] #416 closed

[2015-05-27 11:09] #442 closed

[2015-05-27 11:10] #441 closed

[2015-05-27 11:13] almasaeed2010 commented on #414
Fixed in master.

[2015-05-27 11:13] #414 closed

[2015-05-27 11:13] #419 closed

[2015-05-27 11:13] #398 closed

[2015-05-27 12:54] watoo commented on #463
Problem was solved. Thanks.

[2015-05-27 12:54] #463 closed

[2015-05-27 13:55] MarkAPhillips commented on #431
Can this be reviewed as when I upgraded from 2.0.5 to 2.1.1 I also see this issue in Firefox and Chrome - before it did not stop at the content end but does now - thanks :-)

[2015-05-27 14:32] MarkAPhillips commented on #431
I think its on the .wrapper class

if you remove position: relative; this works as expected

in the new version

[code]

in the previous version

[code]

[2015-05-27 14:32] udaykiranreddy commented on #431
please use IE11,  it works better on IE11.

[2015-05-27 14:41] MarkAPhillips commented on #431
the initial issue was with IE 11 ....

I put a temp override on my css as follows:
[code]
which works on IE11 , FF and Chrome - suggest you review and update accordingly

[2015-05-28 13:07] schmunk42 opened #465 "Skin: "black is white""
The black skin has a bright white header, I'd have expected a black one.
Could you change that to black and add a white ... and a gray one.

[2015-05-28 18:59] suvjunmd commented on #465
+1

[2015-05-29 06:58] #461 closed

[2015-05-29 10:48] kurtserP opened #466 "Using sparkline inline graphs in collapsable items"
Hey,
Trying to implement sparkline inline graphs provided together with the packages, within items which are collapsable (tabs/accordions/etc), but it seem no to work.
When I place the "<span class="sparktristate">1,1,0,1,-1,-1,1,-1,0,0,1,1</span>" (or any other type) outside a collapsable item and call it via:

$('.sparktristate').sparkline('html', {
		type: 'tristate',
		tooltipFormat: '{{value:

[2015-05-29 15:27] murliatdure opened #467 "Collapsable menu persistence on page refresh"

[2015-05-29 15:35] murliatdure opened #468 "Split View for the Email Page"
Similar to Syrena Admin bootstrap theme -or- Pages Theme (pages.revox.io)

![image](https://cloud.githubusercontent.com/assets/7137859/7886226/44924df8-0646-11e5-8031-b5a7e1bdfa52.png)

![image](https://cloud.githubusercontent.com/assets/7137859/7886238/57cb6eae-0646-11e5-8159-492336e1f1ad.png)

[2015-05-29 17:38] YasserHassan commented on #467
@murliatdure you can refer to #315 for this.

[2015-05-29 19:50] chuygb commented on #464
I had the same question, and there are 2 good choices
-Create a single page app, where you keep using the same loaded resources, and you kill the contents, to display new. Simple, Bookmarkable apps are obtained with a pug in that helps change conent and manipulate the location without refreshing, your app becomes all ajax
-The second you have module that is able write the basic frame of the page,

[2015-05-29 19:54] chuygb commented on #440
I believe I have the solution, on  $.AdminLTE.tree = function (menu) {
on the app.js file, executing the link if not #, after the actual open/close can do it
Will post solution when tested, currently on other urgencies
Probably trigger link only when opening, not on close, still undecided

[2015-05-29 21:56] almasaeed2010 commented on #468
This does look nice and perhaps even more user friendly. However, I am not gonna be able to implement such a change at this time. This would be a great addition to AdminLTE when it reaches version 3.0, which I'll start to work on when Bootstrap 4 comes out. Thanks for the suggestion.

[2015-05-29 21:56] #468 closed

[2015-05-29 21:58] almasaeed2010 commented on #467
Please add more description if you'd like us to help.

Thanks.

[2015-05-29 22:01] almasaeed2010 commented on #465
:-z
You are right. The name is kind of confusing. I, however, can't change it right now since it directly affects users who might update regularly. Once I start working on 2.2.0 I will change that. I am not sure about adding more skins at this time. But it is for sure something to think about. Thank you!

[2015-05-29 22:05] almasaeed2010 commented on #466
This is a sparkline issue and should be reported to their [repository](https://github.com/gwatts/jquery.sparkline).

The way I'd approach this as a quick fix is to attach a listener to the collapsible element. Once the element is expanded, I'd redraw the graph.

[2015-05-29 22:06] #464 closed

[2015-05-29 22:08] almasaeed2010 commented on #462
I tested the template on IE11 but it worked as expected. From the screenshot, it seems like there is either a markup error or a resource not found error. Please check that both of these issues don't exist.

[2015-05-29 22:13] almasaeed2010 commented on #455
Fixed in master and updated demo.

[2015-05-29 22:13] #455 closed

[2015-05-30 05:53] AMoktar opened #469 "is there any chance for rtl.css, please ?"
First let me congratulate you for this great design & code.
I'm wondering if you will develop a rtl.css file to set direction and text-aligin and float and such properties for all page elements .
I think it will be great for some people including me.
Thanks

[2015-05-30 09:22] YasserHassan commented on #469
@AMoktar you can refer to #23, #313, and #374 for details about this topic.

[2015-05-30 12:54] kurtserP commented on #466
Thank you for your answer, will report there.
As for your suggestion, adding a listener does work, but unfortunately since sparkline uses the HTML within the tags, and replaces it, the listener can be used only once, or only for static graphs that are used once (not by class but by ID).
For future reference of whomever is searching - found a not so good solution for now (of keeping all tabs/accord

[2015-05-30 12:54] #466 closed

[2015-05-30 15:16] LifeH2O opened #470 "How to stay updated?"
AdminLTE is being updated frequently on Github. What is the best way to keep my project up to date with bug fixes and new features (not major HTML structure changes)?

[2015-05-31 09:05] SylvainSimon commented on #470
Composer ? Bower ?
![image](https://cloud.githubusercontent.com/assets/11244274/7901387/fe769960-0784-11e5-975c-e273f2d47016.png)

[2015-05-31 09:28] almasaeed2010 commented on #470
@LifeH2O You should never use the master repo in production. Best way to stay updated with latest releases when it comes to front-end assets is to use Bower. Once you set up your project and install AdminLTE via Bower, a simple ```bower update``` command will update all your resources to the latest stable release.

[2015-05-31 09:30] almasaeed2010 commented on #469
Unfortunately, I won't be able to create and maintain an RTL release. However, you may look for forks that have implemented this feature. This is one of them https://github.com/Yellowen/AdminLTE-rtl

Perhaps a Google search would provide more results.

[2015-06-01 02:52] YasserHassan opened #471 "Simplifying CSS by avoiding functional class names"
Many CSS classes are named after their functions which makes those names very specific and not ideal for extending their use from an organizational point of view. Sometimes that even bloats the CSS needlessly by creating many classes doing the same thing.

For example, the login page logo uses a class called `login-logo` and the registration page uses the class `register-logo` for the same element

[2015-06-01 03:39] hooman-pro commented on #469
hi, thank you for your very good themeplate .
I have question. as https://github.com/Yellowen/AdminLTE-rtl is version 1.3 and in readme file you write that rtl support in to do list. i want know when next version with rtl support will release?

[2015-06-01 09:28] masteradhoc opened #477 "Changing User Account Menu Button from btn-default zo btn-danger"
Hi @almasaeed2010

I wanted to change the Button of User Account Menu from btn-default zo btn-danger (in user-footer)
This works correct in full desktop view, but not in the view of a smaller windows. Please see attached. Also i cleared the cache and tried in several browsers (IE10 and FF 38)

Thanks
![workscorrect](https://cloud.githubusercontent.com/assets/6242098/7910016/48b79d68-0851-11e5-96c2

[2015-06-01 09:38] bilouStrike opened #478 "Inegrate with codelgniter"
Salam ,
Why happen this in Chrome,Opera browser ,  the header down ,  whene i integrate the template AdminLTE  with php codelgniter ? thanks
![impr](https://cloud.githubusercontent.com/assets/12693924/7910175/511d15e8-084a-11e5-97c7-b39f88e51ca1.jpg)

[2015-06-01 10:09] YasserHassan commented on #478
@bilouStrike if this issue appears only after your integration then your implementation does not reproduce proper AdminLTE HTML (structure and/or associated CSS classes). You need to compare the structure (DOM) resulting from your integration with that of the original template to identify the discrepancies causing this issue.

[2015-06-01 10:12] bilouStrike commented on #478
@YasserHassan thanks, but i do this , it work good in firefox, the problem is only Chrom and Opera

[2015-06-01 10:15] almasaeed2010 commented on #477
Hello,
That's caused by Bootstrap's default config for links within the navbar. I'll see if there is a fix for this issue without rewriting each button's style.

[2015-06-01 10:16] almasaeed2010 commented on #478
Please provide any errors that appear in the console if any exists

[2015-06-01 10:31] almasaeed2010 commented on #471
Hi,

I agree with you for the most part. I found it difficult using this convention to duplicate usage of the same class as you suggested. Since I can't change much right now, I am gonna keep this in mind for a future major release. Thank you!

[2015-06-01 10:33] #470 closed

[2015-06-01 10:35] almasaeed2010 commented on #469
It is true that it is in the to-do list and that we plan to implement it. However, I am not sure when we will be able to do it. It may come as soon as with v2.2.0 or as far as v3.0.0. We have encountered multiple errors when using automated services to convert the template. This is mainly because Bootstrap doesn't support RTL to begin with. I apologize for the inconvenience.

[2015-06-01 10:35] #469 closed

[2015-06-01 10:36] #467 closed

[2015-06-01 10:38] YasserHassan commented on #471
I second your opinion @almasaeed2010 that such enhancement should be kept for a major update later to avoid breaking things for current users. Thank you for your efforts.

[2015-06-01 10:40] YasserHassan commented on #471
Reopening to keep this enhancements in the open ideas pool.

[2015-06-01 10:41] masteradhoc commented on #477
Thanks!

[2015-06-01 11:37] eothein commented on #462
My code seems to be the same as the example template, with the addition of Yii2 souce files. Could there be a problem there?

[2015-06-01 12:52] masteradhoc opened #479 "Use font-awesome atop text input elements"
Hi @almasaeed2010

Why have you used glyphiconincons at the login and registerpage?
I wanted to change them to fontawesome but actually getting some graphical issues then.

Tried to change this:
<span class="glyphicon glyphicon-lock form-control-feedback"></span>
into:
<span class="fa fa-lock form-control-feedback"></span>

The attached picture shows the emailpart (made with fa) and the passwordpa

[2015-06-01 12:59] almasaeed2010 commented on #479
I haven't added support to font-awesome for icons yet. Thanks for reminding me. I'll add support when I get a chance.

[2015-06-01 13:13] masteradhoc commented on #479
That would be great for the next Version, thanks!

[2015-06-01 14:13] steep2000 opened #480 "Left side bar doesn't collapse in IE8"
Hi,

First, thank you for the great job you are doing guys :)

I have an issue with the template in IE8 when i press the toggle button, the sidebar doesn't collapse. What inside the content div, is resizing, but the sidebar stays displayed...

[2015-06-01 14:18] masteradhoc commented on #480
HI @steep2000

IE 8 is not Supported by AdminéLTE im afraid. See https://github.com/almasaeed2010/AdminLTE
<b>Browser Support (IE 9+)</b>

[2015-06-01 14:20] steep2000 commented on #480
@masteradhoc , Thanks for your answer, but all is working fine for what i did, except the sidebar not collapsing :(

[2015-06-01 14:21] masteradhoc commented on #480
Maybe @almasaeed2010 is able to fix this, although its not supported :) Lets see!

[2015-06-01 14:27] steep2000 commented on #480
I hope !! thanks

[2015-06-01 17:44] hooman-pro commented on #469
thank u. that's true bootstrap offically dosent support rtl. but there is rtl version of bootstrap in : https://github.com/morteza/bootstrap-rtl/releases
and as i know bootstrap will not support rtl offically until version 4
if rtl version of admin lte is in your plan you can use it: https://github.com/morteza/bootstrap-rtl/releases

[2015-06-02 00:52] rafael-renan-pacheco commented on #478
This is usually caused by php files with UTF8+BOM encoding.

Check if the generated HTML have "blank" spaces before doctype. These blank spaces generated by BOM can cause some padding issues in bootstrap. Also those "blank" spaces can appear between tags, which will also crash your layout. I wrote "blank" because they are not actually blank spaces, but chrome html viewer render them as invisible s

[2015-06-02 00:59] rafael-renan-pacheco commented on #462
@eothein before testing things with Yii2, just try the default AdminLTE installation on IE 11. Download the package, and open the page on IE 11. If the page loads without bug, then you can start to search the bug in your Yii2 project.

[2015-06-02 04:25] fschaeffer commented on #479
+1 would be ...awesome... to include support for FA, as we then could remove glyphicons and ionicons to only have one icon resource on the page (page download size counts in mobile scenarios...)

[2015-06-02 04:32] masteradhoc commented on #479
+1 same opinion :)

[2015-06-02 09:36] extinger opened #482 "AdminLTE.min.css typo"
.label-waring (.label-warNing right) in two places - col 65236,66000

[2015-06-02 11:53] masteradhoc commented on #482
Attention. This definately goes deeper. Also found on Line 1295 at General.html!
Will take a look at this

[2015-06-02 11:57] masteradhoc commented on #482
Please see incorrect pages below. Gonna greate a pull request now.

![waring_isfound](https://cloud.githubusercontent.com/assets/6242098/7935188/235091a4-092f-11e5-9d66-28c91e034728.png)

[2015-06-02 12:15] masteradhoc commented on #482
This issue can be closed now, due the Pull Request #483

[2015-06-02 12:18] #482 closed

[2015-06-02 14:05] almasaeed2010 commented on #482
This is a serious bug. It's unfortunate that the convenient autocomplete would make you repeat the mistake this many times. Since Bootstrap provides the warning label by default, I think I can merge the pull request without affecting current users.

Thanks for letting me know!

[2015-06-02 19:14] eothein commented on #462
@rafael-renan-pacheco @almasaeed2010

When doing a clean test (without Yii2) there is indeed no problem in IE 11. When just copying the same code and adjusting the necessary parameters (Yii2 uses asset bundles to load css and js files) IE 11 completely messes up (while firefox and Chrome work perfectly).

I'll upload a screenshot where you can see what goes wrong (beneaht). It is in dutch but I'll

[2015-06-02 19:53] rafael-renan-pacheco commented on #462
Now compare the clean html with the Yii2 generated html.

[2015-06-02 19:53] eothein commented on #462
As addition: I tried the template provided here https://github.com/dmstr/yii2-adminlte-asset

Even just a clean install (without any major changes) renders the same problems

[2015-06-02 19:58] eothein commented on #462
@rafael-renan-pacheco A div with the clean html does not show any major differences...

[2015-06-03 02:00] jschwartz73 opened #484 "Select Multiple on Mac doesn't show scrollbar"
On Yosemite (and probably Mavericks as well), the select's padding seems to be "pushing" the scrollbars off the rendered area of the select field.

You can see it on the demo here:
https://almsaeedstudio.com/themes/AdminLTE/pages/forms/general.html

Using the trackpad to scroll in the  "Select Multiple" - the scroll bars will never show up.  Additionally, when using the up/down arrow keys, the lis